{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %}expenditures{% endblock %}
{% load markup %}

{% block content %}

<div class="module">

	<h2>Sunlight Markup of HR 3534</h2>
	<a href="http://resourcescommittee.house.gov/images/Documents/h3534_001_xml.pdf">DISCUSSION DRAFT</a>

<h3 class="sectionspace">CLEAR ACT: Consolidated Land, Energy, and Aquatic Resources Act of 2010</h3>

<iframe src="http://crocodoc.com/gv0WsY?embedded=true&sidebaropen=false" width="600" height="1150" style="border:1px solid Silver;"></iframe>

</div>


{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}