{% extends "base_sidebar.html" %}

{% block bodyclass %}about{% endblock %}

{% block sidebar %}
	<nav>
		<ul>
			<li><a href="/about/">About Sunlight</a></li>
			<li><a href="/about/board/">Board and Advisors</a></li>
			<li><a href="/people/">Our Team</a></li>
			<li><a href="/people/interns/">Our Interns</a></li>
			<li><a href="/about/funding/">How We're Funded</a></li>
			<li><a href="/about/grants/">Who We Fund</a></li>
			<li><a href="/about/history/">A Brief History...</a></li>
			<li><a href="/donate/">Donate to Sunlight</a></li>
		</ul>
	</nav>
{% endblock %}