{% extends "about/base.html" %}

{% block title %}How We Are Funded - {{ block.super }}{% endblock %}

{% block content %}

	<h2>How We're Funded</h2>
	
	<p>The Sunlight Foundation was launched in April 2006 with a $3.5 million contribution from co-founder Michael Klein (read a brief bio <a href="http://sunlightfoundation.com/people/mklein/">here</a>; also see Jeffrey Birnbaum's story from the Washington Post on Sunlight's launch <a href="http://www.washingtonpost.com/wp-dyn/content/article/2006/04/25/AR2006042501699.html">here</a>.)</p>


	<TABLE COLS=3 WIDTH=100% BORDER=0 CELLPADDING=2 CELLSPACING=0 id="funding_table">
		<TBODY>
			<TR>
				<TD WIDTH=51 HEIGHT=15 align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2005" SDNUM="1033;">2005</TD>
				<TD WIDTH=278><BR></TD>
				<TD WIDTH=151><BR></TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Michael Klein</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  class="amount_align" SDVAL="3500000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$3,500,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=15><BR></TD>
				<TD><BR></TD>
				<TD  SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00"><BR></TD>
			</TR>
			<TR>
				<TD HEIGHT=15 align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2006" SDNUM="1033;">2006</TD>
				<TD><BR></TD>
				<TD><BR></TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Rockefeller Family Fund</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="1900000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,900,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>N. Colin Lind</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="100000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$100,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Catherine B. Reynolds Foundation</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="100000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$100,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Fuller Foundation</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="20000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$20,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Fischer &amp; Company, LLC</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="15000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$15,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Philanthropic Collaborative, Inc.</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$5,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Springcreek Advisors, LLC</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="3125" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$3,125.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Seven gifts $250 or less</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="945" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$945.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=15><BR></TD>
				<TD><BR></TD>
				<TD  SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00"><BR></TD>
			</TR>
			<TR>
				<TD HEIGHT=15 align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2007" SDNUM="1033;">2007</TD>
				<TD><BR></TD>
				<TD><BR></TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Omidyar Network</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2000000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,000,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Rockefeller Family Fund</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="1000000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>David Bonderman</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="250000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$250,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Sage Foundation</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Blum Family Foundation</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Fischer &amp; Company, LLC</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="40000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$40,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=30><BR></TD>
				<TD>Ted and Jim Pedas / Circle Management Company</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="25000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$25,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Fuller Foundation</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="20000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$20,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Raymond C. Clevenger, III</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Springcreek Foundation</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="6000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$6,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>CRESA Partners of Greater Washington</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,500.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Peter Gottesman, CRESA Partners</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,500.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Springcreek Advisors, LLC</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2125" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,125.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Domenico and Eleanor De Sole</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Artifex Software, Inc.</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD>Five gifts of $250 or less</TD>
				<TD align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="555" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$555.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16><BR></TD>
				<TD><BR></TD>
				<TD  SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00"><BR></TD>
			</TR>
			<TR>
				<TD HEIGHT=16 align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2008" SDNUM="1033;">2008</TD>
				<TD><BR></TD>
				<TD><BR></TD>
			</TR>

	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39706" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Pew Charitable Trust *</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="2427200" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,427,200.00</TD>
			</TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39450" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Omidyar Network</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="2000000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,000,000.00</TD>
			</TR>



			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39750" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Michael Klein</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="500000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39749" SDNUM="1033;0;MMMM D, YYYY"></TD>

				<TD>Rockefeller Family Fund</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="500000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39636" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Open Society Institute</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="250000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$250,000.00</TD>

			</TR>

			<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39751" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>ProPublica</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39448" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Blum Family Foundation</TD>

				<TD class="amount_align"  ALIGN=RIGHT SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39804" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Shel Kaphan</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
			</TR>

			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39457" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Miles Curtain Laws Robinson</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="25000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$25,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39805" SDNUM="1033;0;MMMM D, YYYY"></TD>

				<TD>Cutts Foundation</TD>
				<TD class="amount_align"   ALIGN=RIGHT SDVAL="25000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$25,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39720" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Stuart Marshall Bloch and Julia Chang Bloch</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>

			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39553" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Gerson and Barbara Bakar</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
			<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39538" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Robert L. Miller </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39813" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Sage Foundation </TD>

				<TD class="amount_align"  ALIGN=RIGHT SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39805" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Elbaz Family Foundation</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>

			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39450" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Raymond C. Clevenger, III</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$5,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=28 ALIGN=RIGHT SDVAL="39798" SDNUM="1033;0;MMMM D, YYYY"></TD>

				<TD>James and Theodore Pedas Family Foundation, Inc.</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$5,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Fidelity Charitable Gift Fund </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="2500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,500.00</TD>

			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39805" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Sunil Pail and Michelle Odom Foundation</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="2000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,000.00</TD>
			</TR>
			<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39664" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Springcreek Advisors</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1125" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,125.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39448" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Schwab Charitable Fund</TD>

				<TD class="amount_align"   ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39507" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Matthew Regan and Yoon-Young Lee</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>

			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39538" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Lisa and Gregory Stanger Charitable Foundation	</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39478" SDNUM="1033;0;MMMM D, YYYY"></TD>

				<TD>Kobayashi Family Foundation</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39756" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Bank of America</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>

			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39448" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Conrad Cafritz</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39538" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>LaSalle D. Leffall</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT VALIGN=TOP SDVAL="39538" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD VALIGN=TOP>Chad J. Fitzgerald&nbsp;</TD>

				<TD class="amount_align"  ALIGN=RIGHT VALIGN=TOP SDVAL="500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39812" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Kobayashi Family Foundation</TD>
				<TD class="amount_align"   ALIGN=RIGHT SDVAL="442" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$442.00</TD>
			</TR>

			<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39636" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Anonymous money order</TD>
				<TD ALIGN=RIGHT class="amount_align"   SDVAL="300" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$300.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD VALIGN=TOP >30 gifts $250 or less</TD>
				<TD class="amount_align"  ALIGN=RIGHT VALIGN=TOP SDVAL="2925" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,925.00</TD>
			</TR>

	<TR>
				<TD HEIGHT=15><BR></TD>
				<TD><BR></TD>
				<TD  SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00"><BR></TD>
			</TR>
	<TR>
				<TD HEIGHT=16 align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2009" SDNUM="1033;">2009</TD>
				<TD><BR></TD>
				<TD><BR></TD>
			</TR>


	<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT><a href="http://blog.sunlightfoundation.com/2009/03/18/expanded-commitment-by-omidyar-network-to-sunlight">Omidyar Network</a></TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="4000000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$4,000,000.00</TD>
			</TR>
	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>Michael Klein</a></TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="850000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$850,000.00</TD>
			</TR>
	<TR>
	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>Rockefeller Family Fund</a></TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="100000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$850,000.00</TD>
			</TR>
			<TR>
		<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>John S. and James L. Knight Foundation</a></TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="565000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$565,000.00</TD>
			</TR>

					<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>Google</TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="51067" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$66,067.00</TD>
			</TR>
	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT> The Kaphan Foundation</TD>
				<TD class="amount_align"  align-right SDVAL="25000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$25,000.00</TD>
			</TR>
	                <TR>
			        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT> Jewish Community Endowment Fund (Craig Newmark Philanthropic Fund) ††</TD>
				<TD class="amount_align"  align-right SDVAL="10000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
	                <TR>
	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>Elbaz Family Foundation</TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="51067" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
	</TR>
	                <TR>
	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>Cutts Foundation</TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="51067" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT> Anita M. Antenucci </TD>
				<TD class="amount_align"  align-right SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$5,000.00</TD>
			<TR>
	</TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT> Google (in-kind donation) </TD>
				<TD class="amount_align"  align-right SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$4,788.00</TD>
			<TR>
	                <TR>
	                       <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>O'Reilly Media, Inc. (royalty check from the book Beautiful Data, 1st Edition)</TD>
				<TD class="amount_align"  align-right SDVAL="2000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$3,009.58</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Blue State Digital LLC †</TD>
				<TD class="amount_align"  align-right SDVAL="2000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,000.00</TD>
			</TR>
			<TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Andrew C. Florance Charitable Fund</TD>
				<TD class="amount_align"  align-right SDVAL="2000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD HEIGHT=16 ALIGN=LEFT>Robert S. Grimes, Esq.</TD>
				<TD class="amount_align"  align-right SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD HEIGHT=16 ALIGN=LEFT>The San Francisco Foundation</TD>
				<TD class="amount_align"  align-right SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Armeane M. Choksi</TD>
				<TD class="amount_align"  align-right SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Ross & Moncure, Inc.</TD>
				<TD class="amount_align"  align-right SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Dr. & Mrs. LaSalle D. Leffall, Jr.</TD>
				<TD class="amount_align"  align-right SDVAL="1000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>
			<TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Leonard Simon Clow</TD>
				<TD class="amount_align"  align-right SDVAL="500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$600.00</TD>
			</TR>
			<TR>
				<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>Google †</TD>
				<TD class="amount_align"  align-right SDVAL="500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>
	               </TR>
			<TR>
	                        <TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>TheCapitol.Net</TD>
				<TD class="amount_align"  align-right SDVAL="500" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>
			</TR>
			<TR>
	                       	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>55 gifts under $250</TD>
				<TD class="amount_align"  align-right SDVAL="2,548.76" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2,548.76</TD>
			</TR>
	<TR>
				<TD HEIGHT=15><BR></TD>
				<TD><BR></TD>
				<TD  SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00"><BR></TD>
			</TR>
		<TR>
				<TD HEIGHT=16 align="right" class="amount_align"  class="amount_align"  class="amount_align"  SDVAL="2008" SDNUM="1033;">2010</TD>
				<TD><BR></TD>
				<TD><BR></TD>
	</TR>

	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Omidyar Network </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,472,184.00</TD>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Foundation to Promote Open Society </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$300,000.00</TD>

			</TR>
	<TR>
		<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD WIDTH=202 height=16 ALIGN=LEFT>John S. and James L. Knight Foundation</a></TD>
				<TD WIDTH=86 class="amount_align"  align-right SDVAL="265000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$265,000.00</TD>
			</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD> craigslist Charitable Fund </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
		</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD> Adobe § </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
		</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD> The National Priorities Project Inc. </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="50000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$37,800.00</TD>
		</TR>
	<TR>
	<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Alan A. Fischer</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$50,000.00</TD>
	<TR>
	<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Google §</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$20,000.00</TD>
	<TR>
	<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Volgenau Family Fund</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$20,000.00</TD>


	<TR>
	<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Palantir Technologies Inc. §</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>

	<TR>
	<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD> <a href="http://blog.sunlightfoundation.com/2010/07/19/sunlight-live-wins-knight-batten-award/">Knight-Batten Award for Innovation in Journalism</a></TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>

	<TR>
	<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Google ¶</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$10,000.00</TD>
			</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Fidelity Charitable Gift Fund </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$5,000.00</TD>
		</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Raymond C. Clevenger, III </TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$5,000.00</TD>
		</TR>
	<TR>
	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>O'Reilly Media, Inc. (royalty check from the book Beautiful Data, 1st Edition)</TD>
				<TD class="amount_align"  align-right SDVAL="2000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$4844.18</TD>

			</TR>

	<TR>
			<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>NIHCM Foundation Journalism Award</TD>
				<TD class="amount_align"  align-right SDVAL="2000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$2000.00</TD>
	<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>The Springcreek Foundation</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,500.00</TD>
			</TR>
	<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Bernie Loves CeCe Trust</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>

	<TR>

				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Eleanore Leavitt De Sole</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>
			</TR>

	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Stanton and Susan Sloane</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$1,000.00</TD>

			</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Amanda Milstein</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>

			</TR>

	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Randall Leeds</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>

			</TR>

	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Lawrence Lessig</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>

			</TR>
	<TR>
				<TD HEIGHT=16 ALIGN=RIGHT SDVAL="39587" SDNUM="1033;0;MMMM D, YYYY"></TD>
				<TD>Online Searches, LLC</TD>
				<TD class="amount_align"  ALIGN=RIGHT SDVAL="5000" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$500.00</TD>

			</TR>
	<TR>
	                       	<TD HEIGHT=16 SDNUM="1033;0;MMMM D, YYYY"><BR></TD>
				<TD height=16 ALIGN=LEFT>362 gifts under $250</TD>
				<TD class="amount_align"  align-right SDVAL="7377.36.60" SDNUM="1033;0;[$$-409]#,##0.00;[RED]-[$$-409]#,##0.00">$7,417.36 </TD>
			</TR>

	<TR>
			</TR>
			<TR>
		</TBODY>
	</TABLE>
	<p></p>

	<p>To see information on our grantees, check out <a href="/about/grants/">Grants and Grantees</a> page. To apply for a grant from the Sunlight Foundation, <a href="/contact/">contact us</a> for guidelines.</p>

	<p>* contract</p>
	<p>† donation for TransparencyCamp09</p>
	<p>†† donation for Apps for America 2: The Data.gov Challenge</p>
	<p>§ donation for Design for America</p>
	<p>¶ donation for TransparencyCamp 2010</p>
	
{% endblock %}











