{% extends "about/base.html" %}

{% block title %}How We Are Funded - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} funding{% endblock %}

{% block content %}

	<h2>How We're Funded</h2>
	
	<p>The Sunlight Foundation was launched in April 2006 with a $3.5 million contribution from co-founder Michael Klein (read a brief bio <a href="http://sunlightfoundation.com/people/mklein/">here</a>; also see Jeffrey Birnbaum's story from the Washington Post on Sunlight's launch <a href="http://www.washingtonpost.com/wp-dyn/content/article/2006/04/25/AR2006042501699.html">here</a>.)</p>
    <ol id="funders">
        <li>  
            <h3>2010</h3>
            <ol>
                <li class="even">
                    <span>Omidyar Network</span>
                    <span class="amount">$1,472,184.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Foundation to Promote Open Society</span>
                    <span class="amount">$300,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>John S. and James L. Knight Foundation</span>
                    <span class="amount">$265,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>craigslist Charitable Fund</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Adobe §</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Alan A. Fischer</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>The National Priorities Project Inc.</span>
                    <span class="amount">$37,800.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Google §</span>
                    <span class="amount">$20,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Volgenau Family Fund</span>
                    <span class="amount">$20,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Palantir Technologies Inc. §</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span><a href="http://blog.sunlightfoundation.com/2010/07/19/sunlight-live-wins-knight-batten-award/">Knight-Batten Award for Innovation in Journalism</a></span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Google ¶</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Fidelity Charitable Gift Fund</span>
                    <span class="amount">$5,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Raymond C. Clevenger, III</span>
                    <span class="amount">$5,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>O'Reilly Media, Inc. (royalty check from the book Beautiful Data, 1st Edition)</span>
                    <span class="amount">$4,844.18</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>NIHCM Foundation Journalism Award</span>
                    <span class="amount">$2,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>The Springcreek Foundation</span>
                    <span class="amount">$1,500.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Bernie Loves CeCe Trust</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Eleanore Leavitt De Sole</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Stanton and Susan Sloane</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Amanda Milstein</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Randall Leeds</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Lawrence Lessig</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Online Searches, LLC</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>362 gifts under $250</span>
                    <span class="amount">$7,417.36 </span>
                    <div class="clear"></div>
                </li>
            </ol>    
        </li>
        <li>
            <h3>2009</h3>
            <ol>
                <li class="even">
                    <span><a href="http://blog.sunlightfoundation.com/2009/03/18/expanded-commitment-by-omidyar-network-to-sunlight">Omidyar Network</a></span>
                    <span class="amount">$4,000,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Michael Klein</span>
                    <span class="amount">$850,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Rockefeller Family Fund</span>
                    <span class="amount">$850,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>John S. and James L. Knight Foundation</span>
                    <span class="amount">$565,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Google</span>
                    <span class="amount">$66,067.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>The Kaphan Foundation</span>
                    <span class="amount">$25,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Jewish Community Endowment Fund (Craig Newmark Philanthropic Fund) ††</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Elbaz Family Foundation</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Cutts Foundation</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Anita M. Antenucci</span>
                    <span class="amount">$5,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Google (in-kind donation)</span>
                    <span class="amount">$4,788.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>O'Reilly Media, Inc. (royalty check from the book Beautiful Data, 1st Edition)</span>
                    <span class="amount">$3,009.58</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Blue State Digital LLC †</span>
                    <span class="amount">$2,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Andrew C. Florance Charitable Fund</span>
                    <span class="amount">$2,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Robert S. Grimes, Esq.</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>The San Francisco Foundation</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Armeane M. Choksi</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Ross & Moncure, Inc.</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Dr. & Mrs. LaSalle D. Leffall, Jr.</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Leonard Simon Clow</span>
                    <span class="amount">$600.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Google †</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>TheCapitol.Net</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>55 gifts under $250</span>
                    <span class="amount">$2,548.76</span>
                    <div class="clear"></div>
                </li>
            </ol>
        </li>
        <li>
            <h3>2008</h3>
            <ol>
                <li class="even">
                    <span>Pew Charitable Trust *</span>
                    <span class="amount">$2,427,200.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Omidyar Network</span>
                    <span class="amount">$2,000,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Michael Klein</span>
                    <span class="amount">$500,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Rockefeller Family Fund</span>
                    <span class="amount">$500,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Open Society Institute</span>
                    <span class="amount">$250,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>ProPublica</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Blum Family Foundation</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Shel Kaphan</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Miles Curtain Laws Robinson</span>
                    <span class="amount">$25,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Cutts Foundation</span>
                    <span class="amount">$25,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Stuart Marshall Bloch and Julia Chang Bloch</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Gerson and Barbara Bakar</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Robert L. Miller</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Sage Foundation</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Elbaz Family Foundation</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Raymond C. Clevenger, III</span>
                    <span class="amount">$5,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>James and Theodore Pedas Family Foundation, Inc.</span>
                    <span class="amount">$5,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Fidelity Charitable Gift Fund</span>
                    <span class="amount">$2,500.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Sunil Pail and Michelle Odom Foundation</span>
                    <span class="amount">$2,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Springcreek Advisors</span>
                    <span class="amount">$1,125.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Schwab Charitable Fund</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Matthew Regan and Yoon-Young Lee</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Lisa and Gregory Stanger Charitable Foundation</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Kobayashi Family Foundation</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Bank of America</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Conrad Cafritz</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>LaSalle D. Leffall</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Chad J. Fitzgerald</span>
                    <span class="amount">$500.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Kobayashi Family Foundation</span>
                    <span class="amount">$442.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Anonymous money order</span>
                    <span class="amount">$300.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>30 gifts $250 or less</span>
                    <span class="amount">$2,925.00</span>
                    <div class="clear"></div>
                </li>
            </ol>    
        </li>
        <li>
            <h3>2007</h3>
            <ol>
                <li class="even">
                    <span>Omidyar Network</span>
                    <span class="amount">$2,000,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Rockefeller Family Fund</span>
                    <span class="amount">$1,000,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>David Bonderman</span>
                    <span class="amount">$250,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Sage Foundation</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Blum Family Foundation</span>
                    <span class="amount">$50,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Fischer & Company, LLC</span>
                    <span class="amount">$40,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Ted and Jim Pedas / Circle Management Company</span>
                    <span class="amount">$25,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Fuller Foundation</span>
                    <span class="amount">$20,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Raymond C. Clevenger, III</span>
                    <span class="amount">$10,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Springcreek Foundation</span>
                    <span class="amount">$6,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>CRESA Partners of Greater Washington</span>
                    <span class="amount">$2,500.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Peter Gottesman, CRESA Partners</span>
                    <span class="amount">$2,500.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Springcreek Advisors, LLC</span>
                    <span class="amount">$2,125.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Domenico and Eleanor De Sole</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Artifex Software, Inc.</span>
                    <span class="amount">$1,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Five gifts of $250 or less</span>
                    <span class="amount">$555.00</span>
                    <div class="clear"></div>
                </li>
            </ol>    
        </li>
        <li>
            <h3>2006</h3>
            <ol> 
                <li class="even">
                    <span>Rockefeller Family Fund</span>
                    <span class="amount">$1,900,000.00</span>
                    <div class="clear"></div>
                </li>   
                <li>
                    <span>N. Colin Lind</span>
                    <span class="amount">$100,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Catherine B. Reynolds Foundation</span>
                    <span class="amount">$100,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Fuller Foundation</span>
                    <span class="amount">$20,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Fischer & Company, LLC</span>
                    <span class="amount">$15,000.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Philanthropic Collaborative, Inc.</span>
                    <span class="amount">$5,000.00</span>
                    <div class="clear"></div>
                </li>
                <li class="even">
                    <span>Springcreek Advisors, LLC</span>
                    <span class="amount">$3,125.00</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <span>Seven gifts $250 or less</span>
                    <span class="amount">$945.00</span>
                    <div class="clear"></div>
                </li>
            </ol>
        </li>  
        <li>
            <h3>2005</h3>
            <ol>
                <li class="even">
                    <span>Michael Klein</span>
                    <span class="amount">$3,500,000.00</span>
                    <div class="clear"></div>
                </li>   
            </ol>
        </li>        
    </ol>
    <div class="tip">
    	<p>To see information on our grantees, check out <a href="/about/grants/">Grants and Grantees</a> page. To apply for a grant from the Sunlight Foundation, <a href="/contact/">contact us</a> for guidelines.</p>
        <ul id="fundersKey">
        	<li>* contract</li>
        	<li>† donation for TransparencyCamp09</li>
        	<li>†† donation for Apps for America 2: The Data.gov Challenge</li>
        	<li>§ donation for Design for America</li>
        	<li>¶ donation for TransparencyCamp 2010</li>
    	<ul>
	</div>
	
	<p><small>Please read our <a href="/legal/gifts/">Gift Acceptance Policy</a>.</small></p>
	
{% endblock %}











