{% extends "about/base.html" %}
{% load formatting %}
{% load markup %}

{% block title %}How We Are Funded - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} funding{% endblock %}

{% block content %}

	<h2>How We're Funded</h2>
	
	<p>The Sunlight Foundation is a 501(c)(3) nonprofit, nonpartisan organization. Sunlight was launched in April 2006 with a $3.5 million contribution from co-founder <a href="/people/mklein/">Michael Klein</a> (<a href="http://www.washingtonpost.com/wp-dyn/content/article/2006/04/25/AR2006042501699.html">Click here</a> to read a Washington Post story about the launch of Sunlight).</p>
	
	{% regroup contributions by year as year_list %}
	
	<ol id="funders">
	    {% for year in year_list %}
	        <li>
	            <h3>{{ year.grouper }}</h3>
	            <ol>
	                {% for contribution in year.list %}
	                    <li class="{% cycle 'even' 'odd' %}">
	                        <span>{{ contribution.contributor }}</span>
	                        <span class="amount">{{ contribution.amount|currency }}</span>
	                        <div class="clear"></div>
	                        {% if contribution.note %}
	                            {{ contribution.note|markdown }}
	                        {% endif %}
	                    </li>
	                {% endfor %}
	            </ol>
	        </li>
	    {% endfor %}
	</ol>

    <div class="tip">
    	<p>To see information on our grantees, check out <a href="/about/grants/">Grants and Grantees</a> page. To apply for a grant from the Sunlight Foundation, <a href="/contact/">contact us</a> for guidelines.</p>
        <ul id="fundersKey">
        	<li>* contract</li>
        	<li>† donation for TransparencyCamp09</li>
        	<li>†† donation for Apps for America 2: The Data.gov Challenge</li>
        	<li>§ donation for Design for America</li>
        	<li>¶ donation for TransparencyCamp 2010</li>
    	<ul>
	</div>
	
	<p><small>Please read our <a href="/legal/gifts/">Gift Acceptance Policy</a>.</small></p>
	
{% endblock %}











