{% extends "about/base.html" %}

{% block title %}About Us - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} about{% endblock %}

{% block content %}
    <h2>Learn All About Us</h2>
	<h3>The Sunlight Foundation uses cutting-edge technology and ideas to make government transparent and accountable.</h3>

	<p>The Sunlight Foundation is a non-profit, nonpartisan organization that uses the power of the Internet to catalyze greater government openness and transparency, and provides new tools and resources for media and citizens, alike. We are committed to improving access to government information by making it available online, indeed redefining “public” information as meaning “online,” and by creating new tools and websites to enable individuals and communities to better access that information and put it to use.</p>
	<p>We want to catalyze greater government transparency by engaging individual citizens and communities -- technologists, policy wonks, open government advocates and ordinary citizens –- demanding policies that will enable all of us to hold government accountable. Sunlight develops and encourages new government policies to make it more open and transparent, facilitates searchable, sortable and machine readable databases, builds tools and websites to enable easy access to information, fosters distributed research projects as an community building tool, engages in advocacy for 21st century laws to require that government make data available in real time and trains thousands of journalists and citizens in using data and the web to watchdog Washington.</p>
	<p>Major elements of our work include the <a href="http://sunlightlabs.com">Sunlight Labs</a>, <a href="http://reporting.sunlightfoundation.com/">Sunlight Reporting Group</a>, <a href="http://sunlightfoundation.com/live">Sunlight Live</a> and <a href="http://theopenhouseproject.com">the Open House Project</a>.</p>

	<img src="http://ad.doubleclick.net/activity;src=1379696;dcnet=4155;boom=41134;sz=1x1;ord=1?" width="1" height="1" border="0" alt="">
	
{% endblock %}