{% extends "base_full.html" %}

{% block title %}Sunlight Projects - {{ block.super }}{% endblock %}
{% block bodyclass %}projects{% endblock %}

{% block content %}
	<h2>Projects</h2>
	
	<div class="project-intro">
		You should be able to get the <b>information about government</b> that you want <span class="tip">and maybe even find something unexpected.</span> <img class="flourish" src="../../static/images/projects_flourish.png" width="80" height="22" alt="Projects Flourish"> <span class="seeWhat">Check out</span> <span class="projIntroSun">Sunlight's</span> <span class="seeWhat">noteworthy work</span>.
	</div>
	
	<ul>
		<li id="campaignfinance">
		    <h3 class="sectionHeader">Money Business</h3>
		    <ul class="columnOf2">
    			<li>
    				<a class="image" href="http://poligraft.com/"><img src="../../static/images/projects_icon_poligraft.png" width="80" height="95" alt="Projects Icon Poligraft">
    				</a>
    				<div class="description">
    					<p><b>Poligraft</b> is a website and utility that allows anyone to uncover levels of influence in federal and state-level politics and the news coverage of it. Using data from Sunlight’s TransparencyData.com and Influence Explorer, Poligraft allows you to connect the dots between money and politics in Congress. Simply paste the URL or text of a news article, blog post or press release and Poligraft will create an enhanced view of the people, organizations and relationships described within it.</p> <a class="morelink" href="http://poligraft.com/">Visit site</a>
    				</div>
    			</li>
    			<li> 
    				<a class="image" href="http://politicalpartytime.org/"><img src="../../static/images/projects_icon_partytime.png" width="80" height="95" alt="Projects Icon Partytime">
    				</a>
    				<div class="description">
    					<p><b>Party Time</b> documents the Congressional Fundraising Circuit. From the early morning hours until late at night, there are opportunities for members of Congress and congressional candidates to meet with supporters behind closed doors, press them for money, and party. Breakfasts, luncheons, barbecues, golfing outings, receptions, concerts, basketball, baseball, football—the social whirl is endless.</p> <a class="morelink" href="http://politicalpartytime.org/">Visit site</a>
    				</div>
    			</li>
    			<li>
    				<a class="image" href="http://sunlightfoundation.com/clearspending/"><img src="../../static/images/projects_icon_clearspending.png" width="80" height="95" alt="Projects Icon Clearspending">
    				</a>
 
    				<div class="description">
    					<p><b>Clearspending</b> is a scorecard that analyzes how well U.S. government agencies are reporting their spending data on USASpending.gov. Clearspending is the most thorough analysis of this federal grant and loan data ever conducted.</p> <a class="morelink" href="http://sunlightfoundation.com/clearspending/">Visit site</a>
    				</div>
    			</li>
    		</ul>
		
		    <ul class="columnOf2">
    			<li> 
    				<a class="image" href="http://influenceexplorer.com/"><img src="../../static/images/projects_icon_influencexplorer.png" width="80" alt="Projects Icon Influencexplorer"></a>
 
    				<div class="description">
    					<p><b>Influence Explorer</b> connects the dots of political contributions on the federal and state level allowing you to track influence by lawmaker, company or prominent individual.</p> <a class="morelink" href="http://influenceexplorer.com/">Visit site</a>
    				</div>
    			</li>
    			<li> 
    				<a class="image" href="https://checking.influenceexplorer.com/"><img src="../../static/images/projects_icon_checking.png" width="80" alt="Projects Icon Checking Influence"></a>
 
    				<div class="description">
    					<p><b>Checking Influence</b> is a new tool from the Sunlight Foundation that you can use to find out how companies you do business with every day are wielding political influence through lobbying and campaign contributions. Checking Influence helps you be an informed consumer and citizen.</p> <a class="morelink" href="https://checking.influenceexplorer.com/">Visit site</a>
    				</div>
    			</li>
    			<li>
    				<a class="image" href="http://transparencydata.com"><img src="../../static/images/projects_icon_transparencydata.png" width="80" height="95" alt="Projects Icon Transparencydata"></a>
 
    				<div class="description">
    					<p><b>Transparency Data</b> is a central source for all federal and state campaign contributions made in the last twenty years. Here you can begin your search, find the information you need and then download records of what a candidate has received, what an individual has given, and how much companies and their employees have given.</p> <a class="morelink" href="http://transparencydata.com">Visit site</a>
    				</div>
    			</li>
    		</ul>
	    </li>
	
	    <li class="clear">
    	    <h3 class="sectionHeader">The Low-down on Congress</h3>
    		<ul class="columnOf2">
    			<li>
    				<a class="image" href="http://www.opencongress.org/"><img src="../../static/images/projects_icon_opencongress.png" width="80" height="95" alt="Projects Icon Opencongress"></a>
    				<div class="description">
    					<p><b>Open Congress</b> brings together official government data with news and blog coverage, social networking, public participation tools, and more to give you the real story behind what's happening in Congress. OpenCongress is a free, open-source, not-for-profit, and non-partisan web resource with a mission to make Congress more transparent and to encourage civic engagement.</p> <a class="morelink" href="http://www.opencongress.org/">Visit site</a>
    				</div>
    			</li>
    		</ul>
    		<ul class="columnOf2">
    			<li>
    				<a class="image" href="http://politiwidgets.com/"><img src="../../static/images/projects_icon_politiwidgets.png" width="80" height="95" alt="Projects Icon Politiwidgets"></a>
			 
    				<div class="description">
    					<p><b>Politiwidgets</b> makes inserting information on a Member of Congress into a blog post as easy as embedding a YouTube video. We have nine free widgets can help you display lawmakers' top campaign contributors, earmarks they have requested, their voting record on any current bill, where their fundraisers are, along with many others.</p> <a class="morelink" href="http://politiwidgets.com/">Visit site</a>
    				</div>
    			</li>
    		</ul>
    	</li>	
	
        <li class="clear">
            <h3 class="sectionHeader">Reporting Projects</h3>
            <ul class="columnOf2">
                <li> 
    				<a class="image" href="http://reporting.sunlightfoundation.com/independent-expenditures/"><img src="../../static/images/projects_icon_followMoney.png" width="80" alt="Projects Icon Follow the Money">
    				</a>
    				<div class="description">
    					<p><b>Follow the Money</b>, a product of the Sunlight Foundation Reporting Group, is a searchable database tracking organizations that are paying for ads and other forms of political communication.</p> <a class="morelink" href="http://reporting.sunlightfoundation.com/independent-expenditures/">Visit site</a>
    				</div>
    			</li>
    			<li> 
    				<a class="image" href="http://foreignlobbying.org/"><img src="../../static/images/projects_icon_fara.png" width="80" alt="Projects Icon Foreign Lobbying Influence Tracker">
    				</a>
    				<div class="description">
    					<p><b>Foreign Lobbying Influence Tracker</b> digitizes information that representatives of foreign governments, political parties and government-controlled entities must disclose to the U.S. Justice Department when they seek to influence U.S. policy.</p> <a class="morelink" href="http://foreignlobbying.org/">Visit site</a>
    				</div>
    			</li>
            </ul> 
            
            <ul class="columnOf2">
                <li> 
    				<a class="image" href="http://sunlightcam.com/"><img src="../../static/images/projects_icon_sunlightcam.png" width="80" alt="Sunlight Campaign Ad Monitor">
    				</a>
    				<div class="description">
    					<p><b>Sunlight Campaign Ad Monitor</b> allows anyone to report information on the political advertising they see on TV, hear on the radio or view online.</p> <a class="morelink" href="http://sunlightcam.com/">Visit site</a>
    				</div>
    			</li>
    			<li> 
    				<div class="description" style="margin-left: 100px;">
    					<p><b>House Expenditure Database</b> On November 30, 2009, the US House of Representatives released the quarterly Statement of Disbursements online for the first time. Since the Office of the Chief Administrative Officer posted these in PDF format, Sunlight created a searchable database of each House member's expenditures. This database contains information that is a subset of the information provided in the PDFs. </p> <a class="morelink" href="http://sunlightfoundation.com/projects/2009/expenditures/">Visit database</a>
    				</div>
    			</li>
            </ul>   
        </li>
    
	    <li class="clear">
    	    <h3 class="sectionHeader">Keeping Tabs on Government</h3>
    		<ul class="columnOf2">
    			<li>
    				<a class="image" href="http://subsidyscope.org/"><img src="../../static/images/projects_icon_subsidyscope.png" width="80" height="95" alt="Projects Icon Subsidyscope"></a>
    				<div class="description">
    					<p><b>Subsidyscope,</b> an initiative of The Pew Charitable Trusts, is revealing information on subsidies by building the most comprehensive source for subsidy data available. The compiled information will stimulate a more vigorous and informed debate about the full scope of federal subsidies and help policy makers make smart choices.</p> <a class="morelink" href="http://subsidyscope.org/">Visit site</a>
    				</div>
    			</li>
    			<li>
    				<a class="image" href="http://nationaldatacatalog.com/"><img src="../../static/images/projects_icon_nationaldatacatalog.png" width="80" height="95" alt="Projects Icon Nationaldatacatalog"></a>
    				<div class="description">
    					<p><b>The National Data Catalog</b> is an open platform for government data sets and APIs. It makes it easy to find datasets by and about government, across all levels (federal, state, and local) and across all branches (executive, legislative, and judicial). The data here is imported from multiple sources and curated by our staff.</p> <a class="morelink" href="http://nationaldatacatalog.com/">Visit site</a>
    				</div>
    			</li>
    		</ul>
    		<ul class="columnOf2">
    			<li>
    				<a class="image" href="http://transparencycorps.org/"><img src="../../static/images/projects_icon_transparencycorps.png" width="80" height="95" alt="Projects Icon Transparencycorps"></a>
    				<div class="description">
    					<p><b>Transparency Corps</b> allows anyone anywhere to have a positive impact on making our government more transparent by aggregating small actions that require human intelligence but not specialized political knowledge.</p> <a class="morelink" href="http://transparencycorps.org/">Visit site</a>
    				</div>
    			 </li>
    			<li>
    					<a class="image" href="http://transbearency.com/"><img src="../../static/images/projects_icon_transbearency.png" width="80" height="95" alt="Projects Icon Transbearency"></a>
    				<div class="description">
    					<p><b>Operation Transbearency</b> is no accident. It’s a movement when the folks at Sunlight heard that the infamous faux-pundit Stephen Colbert decided to take his message of Politics As Usual to Washington, DC on October 30th. His mission? A march to Keep Fear Alive. Rather than feed into his fear-mongering, Sunlight decided it was time to stand up to Colbert by hitting him where it hurts: his fear of bears.</p> <a class="morelink" href="http://transbearency.com/">Visit site</a>
    				</div>
    			</li>
    		</ul>
    	</li>	

	    <li class="clear">
    	    <h3 class="sectionHeader">Mobile Apps</h3>
    		<ul class="columnOf3">	
    			<li>
    				<a class="image" href="http://realtimecongress.org/"><img src="../../static/images/projects_icon_realtimecongress.png" width="80" height="95" alt="Projects Icon Realtimecongress"></a>
    				<div class="description">
    					<p><b>Real Time Congress</b> is the fast and free way to access real-time information about Congress on your iPhone.</p>
    				</div>
    			</li>
    		</ul>
    		<ul class="columnOf3">
    			<li>
    				<a class="image" href="#"><img src="../../static/images/projects_icon_androidcongress.png" width="80" height="95" alt="Projects Icon Androidcongress"></a>
    				<div class="description">
    					<p><b>Android Congress</b> is the fast and free way to access real-time information about Congress on your android phone.</p>
    				</div>
    			</li>
    		</ul>
    		<ul class="columnOf3">
    			<li>
    				<a class="image" href="#"><img src="../../static/images/projects_icon_windowscongress.png" width="80" height="95" alt="Projects Icon Windowscongress"></a>
    				<div class="description">
    					<p><b>Windows Congress</b> is the fast and free way to access real-time information about Congress on your Windows phone.</p>
    				</div>
    			</li>
    		</ul>
    	</li>	
	</ul>
	<div class="clear"></div>
	
{% endblock %}