{% extends "base_full.html" %}

{% block title %}Sunlight Projects - {{ block.super }}{% endblock %}

{% block content %}
	<h2>Projects</h2>
	
	<div class="project-intro">
		You should be able to get the <b>information about government</b> that you want <span class="tip">and maybe even some you didn't know you were looking for.</span> <img class="flourish" src="../../static/images/projects_flourish.png" width="80" height="22" alt="Projects Flourish"> <span class="seeWhat">SEE WHAT</span> <span class="projIntroSun">Sunlight's</span> <span class="seeWhat">BEEN UP TO.</span>
	</div>
	
	<h3 class="sectionHeader">Money Business
	</h3>
	
	<div class="columnOf2">
		<dl>
			<dt>
				<a href="http://poligraft.com/"><img src="../../static/images/projects_icon_poligraft.png" width="80" height="95" alt="Projects Icon Poligraft"></a>
			</dt>
			<dd>
				<b>Poligraft</b> is a website and utility that allows anyone to uncover levels of influence in federal and state-level politics and the news coverage of it. Using data from Sunlight’s TransparencyData.com and Influence Explorer, Poligraft allows you to connect the dots between money and politics in Congress. Simply paste the URL or text of a news article, blog post or press release and Poligraft will create an enhanced view of the people, organizations and relationships described within it. <a class="visitSite" href="http://poligraft.com/">Visit site</a>
			</dd>
			<dt>
				<a href="http://politicalpartytime.org/"><img src="../../static/images/projects_icon_partytime.png" width="80" height="95" alt="Projects Icon Partytime"></a>
			</dt>
			<dd>
				<b>Party Time</b> documents the Congressional Fundraising Circuit. From the early morning hours until late at night, there are opportunities for members of Congress and congressional candidates to meet with supporters behind closed doors, press them for money, and party. Breakfasts, luncheons, barbecues, golfing outings, receptions, concerts, basketball, baseball, football—the social whirl is endless. <a class="visitSite" href="http://politicalpartytime.org/">Visit site</a>
			</dd>
		</dl>
	</div>
	
	<div class="columnOf2">
		<dl>
			<dt>
				<a href="http://sunlightfoundation.com/clearspending/"><img src="../../static/images/projects_icon_clearspending.png" width="80" height="95" alt="Projects Icon Clearspending"></a>
			</dt>
			<dd>
				<b>Clearspending</b> is a scorecard that analyzes how well U.S. government agencies are reporting their spending data on USASpending.gov. Clearspending is the most thorough analysis of this federal grant and loan data ever conducted. <a class="visitSite" href="http://sunlightfoundation.com/clearspending/">Visit site</a>
			</dd>
			<dt>
				<a href="http://transparencydata.com"><img src="../../static/images/projects_icon_transparencydata.png" width="80" height="95" alt="Projects Icon Transparencydata"></a>
			</dt>
			<dd>
				<b>Transparency Data</b> is a central source for all federal and state campaign contributions made in the last twenty years. Here you can begin your search, find the information you need and then download records of what a candidate has received, what an individual has given, and how much companies and their employees have given. <a class="visitSite" href="http://transparencydata.com">Visit site</a>
			</dd>
			<dt>
				<a href="http://influenceexplorer.com/"><img src="../../static/images/projects_icon_influencexplorer.png" width="80" height="95" alt="Projects Icon Influencexplorer"></a>
			</dt>
			<dd>
				<b>Influence Explorer</b> connects the dots of political contributions on the federal and state level allowing you to track influence by lawmaker, company or prominent individual. <a class="visitSite" href="http://influenceexplorer.com/">Visit site</a>
			</dd>
		</dl>
	</div>
	
	<div class="clear">
	</div>
	
	<h3 class="sectionHeader">The Low-down on Congress
	</h3>

	<div class="columnOf2">
		<dl>
			<dt>
				<a href="http://www.opencongress.org/"><img src="../../static/images/projects_icon_opencongress.png" width="80" height="95" alt="Projects Icon Opencongress"></a>
			</dt>
			<dd>
				<b>Open Congress</b> brings together official government data with news and blog coverage, social networking, public participation tools, and more to give you the real story behind what's happening in Congress. OpenCongress is a free, open-source, not-for-profit, and non-partisan web resource with a mission to make Congress more transparent and to encourage civic engagement. <a class="visitSite" href="http://www.opencongress.org/">Visit site</a>
			</dd>
		</dl>
	</div>
	
	<div class="columnOf2">
		<dl>
			<dt>
				<a href="http://politiwidgets.com/"><img src="../../static/images/projects_icon_politiwidgets.png" width="80" height="95" alt="Projects Icon Politiwidgets"></a>
			</dt>
			<dd>
				<b>Politiwidgets</b> makes inserting information on a Member of Congress into a blog post as easy as embedding a YouTube video. We have nine free widgets can help you display lawmakers' top campaign contributors, earmarks they have requested, their voting record on any current bill, where their fundraisers are, along with many others. <a class="visitSite" href="http://politiwidgets.com/">Visit site</a>
			</dd>
		</dl>
	</div>
	
	<div class="clear">
	</div>


	<h3 class="sectionHeader">Keeping Tabs on Government
	</h3>
	
	<div class="columnOf2">
		<dl>
			<dt>
				<a href="http://subsidyscope.org/"><img src="../../static/images/projects_icon_subsidyscope.png" width="80" height="95" alt="Projects Icon Subsidyscope"></a>
			</dt>
			<dd>
				<b>Subsidyscope,</b> an initiative of The Pew Charitable Trusts, is revealing information on subsidies by building the most comprehensive source for subsidy data available. The compiled information will stimulate a more vigorous and informed debate about the full scope of federal subsidies and help policy makers make smart choices. <a class="visitSite" href="http://subsidyscope.org/">Visit site</a>
			</dd>
			<dt>
				<a href="http://nationaldatacatalog.com/"><img src="../../static/images/projects_icon_nationaldatacatalog.png" width="80" height="95" alt="Projects Icon Nationaldatacatalog"></a>
			</dt>
			<dd>
				<b>The National Data Catalog</b> is an open platform for government data sets and APIs. It makes it easy to find datasets by and about government, across all levels (federal, state, and local) and across all branches (executive, legislative, and judicial). The data here is imported from multiple sources and curated by our staff. <a class="visitSite" href="http://nationaldatacatalog.com/">Visit site</a>
			</dd>
		</dl>
	</div>
	
	<div class="columnOf2">
		<dl>
			<dt>
				<a href="http://transparencycorps.org/"><img src="../../static/images/projects_icon_transparencycorps.png" width="80" height="95" alt="Projects Icon Transparencycorps"></a>
			</dt>
			<dd>
				<b>Transparency Corps</b> allows anyone anywhere to have a positive impact on making our government more transparent by aggregating small actions that require human intelligence but not specialized political knowledge. <a class="visitSite" href="http://transparencycorps.org/">Visit site</a>
			</dd>
			<dt>
				<a href="http://transbearency.com/"><img src="../../static/images/projects_icon_transbearency.png" width="80" height="95" alt="Projects Icon Transbearency"></a>
			</dt>
			<dd>
				<b>Operation Transbearency</b> is no accident. It’s a movement when the folks at Sunlight heard that the infamous faux-pundit Stephen Colbert decided to take his message of Politics As Usual to Washington, DC on October 30th. His mission? A march to Keep Fear Alive. Rather than feed into his fear-mongering, Sunlight decided it was time to stand up to Colbert by hitting him where it hurts: his fear of bears. <a class="visitSite" href="http://transbearency.com/">Visit site</a>
			</dd>
		</dl>
	</div>
	
	<div class="clear">
	</div>

	<h3 class="sectionHeader">Mobile Apps
	</h3>
	<div class="columnOf3">
		<dl>
			<dt>
				<a href="http://realtimecongress.org/"><img src="../../static/images/projects_icon_realtimecongress.png" width="80" height="95" alt="Projects Icon Realtimecongress"></a>
			</dt>
			<dd>
				<b>Real Time Congress</b> is the fast and free way to access real-time information about Congress on your iPhone. <a class="visitSite" href="http://realtimecongress.org/">Visit site</a>
			</dd>
		</dl>
	</div>
	<div class="columnOf3">
		<dl>
			<dt>
				<a href="#"><img src="../../static/images/projects_icon_androidcongress.png" width="80" height="95" alt="Projects Icon Androidcongress"></a>
			</dt>
			<dd>
				<b>Android Congress</b> is the fast and free way to access real-time information about Congress on your android phone. <a class="visitSite" href="#">Visit site</a>
			</dd>
		</dl>
	</div>
	<div class="columnOf3">
		<dl>
			<dt>
				<a href="#"><img src="../../static/images/projects_icon_windowscongress.png" width="80" height="95" alt="Projects Icon Windowscongress"></a>
			</dt>
			<dd>
				<b>Windows Congress</b> is the fast and free way to access real-time information about Congress on your Windows phone. <a class="visitSite" href="#">Visit site</a>
			</dd>
		</dl>
	</div>
	<div class="clear">
	</div>
	
{% endblock %}