django==1.2.3
django-debug-toolbar

boto
slimmer
-e git://github.com/sunlightlabs/django-mediasync.git#egg=mediasync

# sunlight apps
feedparser
-e git://github.com/sunlightlabs/django-feedinator.git#egg=feedinator

# search
django-haystack==1.0.2-final
Whoosh==0.3.18

#-e svn+http://django-morsels.googlecode.com/svn/trunk/#egg=morsels

# blog
-e git://github.com/arthurk/django-disqus.git#egg=disqus
-e git://github.com/sunlightlabs/django-wordpress.git#egg=wordpress
Markdown==2.0.1
docutils==0.5
textile==2.1.3
-e git://github.com/jamesturk/django-markupfield.git#egg=markupfield

# staff auth
python-openid
-e git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth

gunicorn

# from old
# feedparser
# -e git://github.com/sunlightlabs/django-feedinator.git#egg=feedinator
# -e git://github.com/sunlightlabs/django-failwhale.git#egg=failwhale
# python-twitter
