{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %}expenditures{% endblock %}
{% load markup %}

{% block content %}

<div class="module">

	<h2>Citizens United: State by State</h2>

	<p>The Supreme Court’s decision in the Citizens United v. FEC case has rendered 24 state election laws unconstitutional. The 5-4 ruling in favor of Citizens United reversed a provision of the McCain-Feingold act that prohibited any electioneering communication—defined as advertising via broadcast, cable or satellite that is paid for by corporations or labor unions.</p>
	<p>Many states have acted fast to counter corporations’ and unions' ability to spend endless amounts of money to influence elections by passing laws that force disclosure of all independent expenditures in near real time. The Sunlight Foundation Reporting Group has decided to report what each of these states is doing to respond to the highly-contested ruling.</p>

	<ul id="search_results">

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-massachussets-response/">Massachussets</a></h4>
	<p>Massachusetts is focusing on corporate ad disclaimers, preferring a less contentious path than some of its peers.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-rhode-islands-response/">Rhode Island</a></h4>
	<p>Just because Rhode Island caved on some of its disclosure legislation doesn't mean that it's lost its teeth: the States' smallest state is one of only a few to tell advertisers to stand by their ads.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-michigans-response/">Michigan</a></h4>
	<p>Although the Citizens United ruling forces Michigan to dramatically reduce in-state disclosures, good government data holds some hope for curious citizens.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-kentuckys-response/">Kentucky</a></h4>
	<p>Kentucky has issued an advisory opinion that allows corporations to make independent expenditures in order to influence elections, but they’re not happy about it.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-alaskas-response/">Alaska</a></h4>
	<p>Alaska is one of three states that have passed legislation that will force any nonprofit organization that makes an independent expenditure to disclose their top funders.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-connecticuts-response/">Connecticut</a></h4>
	<p>Unlike the DISCLOSE Act, the federal response to Citizens United being worked on in Congress, Connecticut won't be letting nonprofits off the hook with its legislation.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-west-virginias-response/">West Virginia</a></h4>
	<p>The response from West Virginia takes a middle path toward corporate disclosure.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-iowas-response/">Iowa</a></h4>
	<p>Iowa is going beyond other states in its response to the Citizens United case by requiring an organization’s executive board or leadership to provide a written approval notice for any independent expenditure made on the group's behalf.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-minnesotas-response/">Minnesota</a></h4>
	<p>In Minnesota, they are forcing any corporation that wishes to make independent expenditures to create a committee and register.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-colorados-response/">Colorado</a></h4>
	<p>Language within Colorado's new bill says, “the public [. . .] is best served by full and timely disclosure of campaign contributions and independent expenditures.”</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-south-dakotas-response/">South Dakota</a></h4>
	<p>South Dakota’s Secretary of State, Chris Nelson, says their previous provisions “have been replaced with some very stringent laws.”</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-arizonas-response/">Arizona</a></h4>
	<p>Arizona’s Assistant Secretary of State, Jim Drake, discusses the attempt to make sure disclosures are online and in real-time.</p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-new-york-california-and-washington/">New York, California and Washington</a></h4>
	<p>How about states that didn't have to change their rules, but did anyway?</p>
		</div>
	</li>



	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4<a href="http://reporting.sunlightfoundation.com/2010/citizens-united-north-carolinas-possible-response/">North Carolina</a></h4>
	<p>North Carolina hasn't passed any legislation yet that will amend laws currently on the books prohibiting electioneering communications, but the state is working on it. On May 26, the North Carolina Assembly introduced an act that would amend its election laws in response to Citizens United. </p>
		</div>
	</li>

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4><a href="http://reporting.sunlightfoundation.com/2010/citizens-united-tennessees-response/">Tennessee</a></h4>
	<p>Tennessee’s new rules require corporations to register as political action committees when placing ads intended to influence elections. The groups must also disclose all spending according to the same schedule as regular PACs. That means, at most, they will report spending six times a year -- four quarterly reports and two additional reports during an election year</p>
		</div>
	</li>

	</ul>
	<div class="clear"></div>
		
	</li>
	<a href="http://reporting.sunlightfoundation.com/" onmouseover="document.NAME.src='http://assets.sunlightfoundation.com.s3.amazonaws.com/images/reportingfooterCOLOR.png' " onmouseout="document.NAME.src='http://assets.sunlightfoundation.com.s3.amazonaws.com/images/reportingfooter.png' ">
	<img name=NAME src="http://assets.sunlightfoundation.com.s3.amazonaws.com/images/reportingfooter.png"></a>




</div>


{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}
