{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %}expenditures{% endblock %}
{% load markup %}

{% block content %}

<div class="module">


	<h2 class="sans">Topics: Earmarks</h2>
	<h3>A Curated Selection of Sunlight Foundation's Articles About Earmarks</h3>
	<p>
	On May 11, 2010, the House of Representatives and the Senate both introduced bills to create a centralized database for earmark requests. Currently, earmark requests are disclosed in disparate fashion with non-searchable files posted to individual lawmaker websites or the House and Senate Appropriations Committee website. A centralized database will allow people to follow spending requests made by lawmakers with a simple online search.
	</p>

	<p>
	An earmark is a directed spending request made by a lawmaker in an appropriations or other spending bill. Recent disclosure changes, beginning in 2006, made earmarks far more transparent. The missing piece is a centralized format for collecting, storing and distributing to the public over the Internet information about earmark requests. The Earmark Transparency Act will finish the job.
	</p>

	<p>
	While earmarks account for a very small portion of the total discretionary spending budget, they are linked to a high number of congressional scandals. Transparency in earmark spending is necessary to ensure an accountable government.
	</p>

	<ul id="search_results">
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2010/start-making-sense-earmark-transparency-act-will-finally-bring-t/">Earmark Transparency Act will finally bring transparency to earmarks</a></h4>
	<p>The Earmark Transparency Act of 2010, a bipartisan bill introduced today by Sens. Tom Coburn, R-Olka., John McCain, R-Ariz., Russ Feingold, D-Wisc., and Kirsten Gillibrand, D-N.Y., vastly improves the way in which information about earmarks is disclosed.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2010/earmark-disappearmark-policy-shift/">From earmark to disappearmark: Bush administration policy shift cut funding for congressional projects</a></h4>
	<p>In 2005, Rep. David Price, D-N.C., earmarked more than $19.6 million to launch a light rail project in his district—one that he had promised to continue his “strong support for” by finding additional federal funding through his position on the House Appropriations Committee.</p>
		</div>
	</li>
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2007/earmarks-boost-small-kentucky-businesses/">Earmarks Boost Small Kentucky Business</a></h4>
	<p>After it hired a lobbyist and its employees contributed to a member of Congress' leadership political action committee, a Kentucky company saw its defense business quadruple thanks to earmarks.</p>
		</div>
	</li>
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2007/the-favor-factory-earmarks-and-campaign-cash-connections/">The Favor Factory: Earmarks and Campaign Cash Connections</a></h4>
	<p>Three members of the House Defense Appropriations Subcommittee have received an average of $102,600 in campaign contributions from employees and political action committees of the companies they've favored with earmarks in the first six months of 2007.</p>
		</div>
	</li>
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2007/defense-contractors-reap-windfall-in-2005-earmarks/">Defense Contractors Reap Windfall in 2005 Earmarks</a></h4>
	<p>The nation's top defense contractors were also the biggest beneficiaries of congressional earmarks in 2005, an analysis by the Sunlight Foundation has found.</p>
		</div>
	</li>
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2010/03/15/earmark-transparency-makes-more-sense-than-a-ban/">Earmark Transparency Makes More Sense Than a Ban</a></h4>
	<p>The recent policies imposed by the House Appropriations Committee and the House Republican Caucus to ban for-profit earmarks and all earmarks, respectively, will reduce the ability of the public to track directed spending and do little to stem this type of spending.</p>
		</div>
	</li>
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2009/06/10/earmark-my-words/">Earmark My Words</a></h4>
	<p>In the case of the top ten earmarkers for FY 2008, the top words they used from 2007-2008 do often align with their duties in either the Appropriations Committee or in bringing home the bacon to their home state.</p>
		</div>
	</li>
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2006/06/14/dennis-hasterts-real-estate-investments/">Dennis Hastert's Real Estate Investments</a></h4>
	<p>House Speaker J. Dennis Hastert has used an Illinois trust to invest in real estate near the proposed route of the Prairie Parkway, a highway project for which he’s secured $207 million in earmarked appropriations. The trust has already transferred 138 acres of land to a real estate development firm that has plans to build a 1,600-home community, located less than six miles from the north-south connector Hastert has championed in the House.</p>
		</div>
	</li>


<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://www.opencongress.org/wiki/Earmark_Reform_Bills">Earmark Reform Bills</a></h4>
	<p>A comprehensive listing of earmark reform measures from the previous two Congresses.</p>
		</div>
	</li>
</ul>
<div class="clear"></div>

</div>


{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}
