{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %}expenditures{% endblock %}
{% load markup %}

{% block content %}

<div class="module">

	<h2>Financial Reform</h2>

	<p>To deal with the biggest financial meltdown since the Great Depression, Congress is crafting equally large regulations. In response, the financial industry is fighting tooth and nail to secure their seat at the table. Banks, finance firms, and other business groups are sending droves of lobbyists to Capitol Hill to protect their interests.

	<p>To track their influence, the Sunlight team is checking the numbers: sifting through numerous data sets and documenting the results. Check out some of our top stories below.</p>

	<ul id="search_results">
<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2010/04/13/senate-democrats-republicans-raced-to-raise-money-from-finance-insurance-real-estate-sector-in-2009/">Senate Democrats, Republicans Raced to Raise Money from Finance, Insurance, Real Estate Sector in 2009</a></h4>
	<p>More than two years after the collapse of Bear Stearns presaged the 2008 financial meltdown, the United States Senate is finally ready to begin debate on reforms to the financial regulatory structure that failed to keep the industry in check. From January to December of 2009, the finance, insurance and real estate sector contributed a total of $17.82 million to sitting senators.</p>
		</div>
	</li>


<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2010/04/19/banks-exchanges-seek-to-influence-derivatives-reform/">Banks, Exchanges Seek to Influence Derivatives Reform</a></h4>
	<p>The final piece of the financial regulatory reform puzzle is about to come into place as Sen. Blanche Lincoln released language last Friday that would impose rules on the unregulated world of over-the-counter derivatives trading.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2010/04/28/revolving-door-from-capitol-hill-to-big-banks/">Revolving Door From Capitol Hill to Big Banks</a></h4>
	<p>Concerned about seeing their huge profits cut, six big banks are leading the charge to weaken or block new financial regulations being considered in the United States Senate. To push their cause these bank have hired 145 former government officials—congressmen, staffers and executive branch officials—to lobby on Capitol Hill and in the executive branch.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2010/wall-street-transparency-and-accountability-act-2010-moves-senat/">Sen. Lincoln's proposed reform moves to the Senate floor for debate</a></h4>
	<p>The financial reform legislation regarding derivatives was voted 13-8 out of the Senate Agriculture Committee this morning and on to the Senate floor. It's intended to fend off any future government bailouts and prohibit the risky behavior banks participate in that caused the 2008 financial meltdown.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2010/financial-reform-lobbyists-fundraise-senators/">Financial reform lobbyists host fundraisers for senators</a></h4>
	<p>Since the beginning of 2010 through April, at least ten senators who sit on the Banking and Agriculture Committees are listed as beneficiaries of fundraisers hosted by lobbyists who have pressed Congress on financial reform issues.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://reporting.sunlightfoundation.com/2010/financial-reform-fundraisers/">Financial reform fundraising: Are lobbyists for Wall St. firms hosting hundreds of events for lawmakers?</a></h4>
	<p>Sam Geduldig, a lobbyist for high profile financial firms, banks and credit companies, who has the ability to “kill legislative threats to his clients,” is listed as a host on 18 invitations to fundraisers for Republican members of Congress and their leadership committees.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2009/10/15/chamber-of-commerce-deploys-former-government-officials-to-lobby-on-financial-regulation/">Chamber of Commerce Deploys Former Government Officials to Lobby On Financial Regulation</a></h4>
	<p>Billed as the biggest opponent of financial regulatory reform, the US Chamber of Commerce is deploying former government officials to lobby the House Committee on Financial Services as the mark-up on legislation begins.</p>
		</div>
	</li>

<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
	<h4>
	<a href="http://blog.sunlightfoundation.com/2009/10/09/top-financial-services-committee-members-rely-heavily-on-finance-campaign-contributions/">Top Financial Services Committee Members Rely Heavily On Finance Campaign Contributions</a></h4>
	<p>The House Committee on Financial Services is currently undertaking the important first step of writing, amending and voting on some of the pieces of the long-proposed financial regulatory reform. While debating these issues top committee members have been the recipients of disproportionate campaign contributions from the very industry that they are tasked with regulating.</p>
		</div>
	</li>

	</ul>

<div class="clear"></div>

</div>


{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}
