{% extends "base_sidebar.html" %}

{% block title %}Press - {{ block.super }}{% endblock %}

{% block bodyclass %}press{% endblock %}

{% block sidebar %}
	<nav class="{% block subnavclass %}interiorNav{% endblock %}">
		<ul>
			<li class="press"><a href="/press/">Press Center</a></li>
			<li class="experts"><a href="/press/experts/">Subject Matter Experts</a></li>
			<li class="releases"><a href="/press/releases/">Press Releases</a></li>
			<li class="articles"><a href="/press/articles/">Articles &amp; Mentions</a></li>
			<li class="editorials"><a href="/press/editorials/">Editorials</a></li>
			<li class="oped"><a href="/press/oped/">Op-Eds</a></li>
			<li class="webmentions"><a href="/press/webmentions/">Web Mentions</a></li>
			<li class="logos"><a href="/press/logos/">Logos</a></li>
		</ul>
	</nav>
{% endblock %}