{% extends "presscenter/base.html" %}

{% block title %}Subject Matter Experts - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} experts{% endblock %}

{% block content %}

	<h2>Subject Matter Experts</h2>

	<p>Since its founding in 2006, the Sunlight Foundation has become one of the nation's most trusted sources for information and analysis on the movement toward opening up public access to the government on the Web to make it more transparent and accountable. Our experts can provide you with critical insight into the changing regulations and cutting-edge technologies that are transforming our government and the way that Americans interact with their elected officials.</p>
	<div class="module">
		<ul>
			<li>
				<h3>Ellen Miller</h3>
				<img class="expertsimg" src="http://assets.sunlightfoundation.com/images/blog/avatars/100/100x100_emiller.jpg">
				<div class="experts expertbio">
					<p>
					For nearly 30 years, Ellen Miller is a nationally recognized expert on transparency and the influence of money in politics. As founder of the Center for Responsive Politics, Public Campaign and a Co-Founder and Executive Director of the Sunlight Foundation, Ellen provides unique insight into how government has been moved to open its data and where we are going in the future. She is an expert in the use of new technologies for greater government accountability and the importance of data digitization. Ellen is a regular contributor on ABC's World News Tonight, C-SPAN, CNN, Washington Post, USA Today, Wired and The Huffington Post.
					</p>
					<p>
						<b>Press photos:</b> <a href="http://assets.sunlightfoundation.com/press/photos/Ellen_Miller_portrait_wide.jpg">Wide Portrait</a> (5MB)
					</p>
				</div>
				<div class="clear"></div>
			
			</li>
			<li>
				<h3>Tom Lee</h3>
				<img class="expertsimg" src="http://assets.sunlightfoundation.com/images/blog/avatars/100/100x100_tlee.jpg">
				<div class="experts expertbio">
					<p>
				Tom Lee is the director of Sunlight Labs, the division of Sunlight charged with building technology to make government data more useful to the public. Tom has worked on government transparency in a variety of ways, from coding projects like Elena's Inbox to testifying on automated document declassification at the National Archives to consulting with the legislature on federal data quality issues. He is an expert in technology and technical policy, and his words and writing have appeared on CSPAN, The Washington Post, USA Today, NextGov, Federal News Radio, The American Prospect and others.
					</p>
					<p>
						<b>Press photos:</b> <a href="http://assets.sunlightfoundation.com.s3.amazonaws.com/images/LabsDirectorTomLee.jpg">Wide Portrait</a> (4.7MB)
					</p>
				</div>
				<div class="clear"></div>
			</li>
			<li>
				<h3>John Wonderlich</h3>
				<img class="expertsimg" src="http://assets.sunlightfoundation.com/images/blog/avatars/100/100x100_jwonderlich.jpg">
				<div class="experts expertbio">
					<p>
					John Wonderlich is the Policy Director for the Sunlight Foundation and one of the nation's foremost advocates for open government. John spearheads Sunlight's goal of changing the culture of the federal government by opening up key data sources and expanding the use of new media tools by elected officials in order to make them more accountable to their constituents. He is one of the foremost authorities on lobbying reform, franking and social media use in Congress as well as efforts to shed light on the congressional legislative process.
					</p>
					<p>
						<b>Press photos:</b> <a href="http://assets.sunlightfoundation.com/press/photos/John_Wonderlich_portrait_wide.jpg">Wide Portrait</a> (8MB)
					</p>
				</div>
				<div class="clear"></div>
			</li>
			<li>
				<h3>Bill Allison</h3>
				<img class="expertsimg" src="http://assets.sunlightfoundation.com/images/blog/avatars/100/100x100_ballison.jpg">
				<div class="experts expertbio">
					<p>
					A veteran investigative reporter and editor, Bill Allison is the Editorial Director for Sunlight Foundation Reporting. Bill has spent the better part of his career reporting on lobbyist influence in Washington, campaign finance transparency and earmarks. Through his blogging and journalist trainings, Bill sheds light on the growing influence of lobbyists working on behalf of foreign governments, federal contracting issues and parsing data from personal financial disclosure forms. Bill has been a contributor on major cable news networks, the BBC, Roll Call, The Hill, Politico and other news outlets.
					</p>
					<p>
						<b>Press photos:</b> <a href="http://assets.sunlightfoundation.com/press/photos/Bill_Allison_portrait_wide.jpg">Wide Portrait</a> (9.7MB)
					</p>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
		<p>
			For additional information on our experts or to schedule an interview, please contact Sunlight's Communications Director Gabriela Schneider at 202/742-1520.
		</p>
	</div>
	
{% endblock %}