{% extends "presscenter/base.html" %}

{% load media %}

{% block title %}Logos - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} logos{% endblock %}
{% block content %}

<h2>Logos for Print and Web</h2>
<p>Logos are available in a variety of sizes and formats for use on the web and in print.  </p>

<div class="module">
<h3 class="logoFor">Sunlight Foundation</h3>   


<ul class="logo_downloads">
<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/SFLogo_whiteText.eps"><img src="{% media_url %}/images/thumbnail_SFLogo_whiteText-1_eps.png" width="100" height="45" alt="Thumbnail SFLogo WhiteText 1 Eps"> </a>
</div>

<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/SFLogo_whiteText.eps">White Text Logo EPS</a> <span class="logo_link">(postscript)

</li>

<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/SFLogo_blueText.eps"><img src="{% media_url %}/images/thumbnail_SFLogo_blueText_eps.png" width="100" height="45" alt="Thumbnail SFLogo BlueText Eps"></a>
</div>

<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/SFLogo_blueText.eps">Blue text Logo EPS</a> <span class="logo_link">(postscript)</span>  
</li>

<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlight_large_for_print.gif"><img src="{% media_url %}/images/thumbnail_sunlight_large_for_print.gif" width="100" height="47" alt="Thumbnail Sunlight Large For Print"></a>
</div>

<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlight_large_for_print.gif">Large GIF</a> (1500 x 680)
</li> 

<li>
<div class="logo_thumb_container">
<a  class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlight_bw_2000x900.gif"><img src="{% media_url %}/images/thumbnail_sunlight_bw_2000x900.jpg" width="100" height="47" alt="Thumbnail Sunlight Bw 2000x900"></a>
</div>

<a  class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlight_bw_2000x900.gif">B/W GIF</a> (2000 x 900)
</li>   
 
<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/web/sflogo_bluebg_550x315.gif"><img src="{% media_url %}/images/thumbnail_sflogo_bluebg_550x315.jpg" width="100" height="57" alt="Thumbnail Sflogo Bluebg 550x315"></a>
</div>
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/web/sflogo_bluebg_550x315.gif">Blue Background, white text GIF</a> (550 x 315) 
</li>

<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/web/SFLogo_whitebg_500wide.gif"><img src="{% media_url %}/images/thumbnail_SFLogo_whitebg_500wide.jpg" width="100" height="45" alt="Thumbnail SFLogo Whitebg 500wide"></a>
</div>
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/web/SFLogo_whitebg_500wide.gif">
White Background, blue text GIF</a> (500 x 227)
</li>

</ul>
<div class="clear"></div>

<h3 class="logoFor">Sunlight Labs</h3> 
<ul class="logo_downloads">
<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlightLabs_logos_outlines.eps"><img src="{% media_url %}/images/thumbnail_sunlightLabs_logos_outlines-1_eps.png" width="100" height="73" alt="Thumbnail SunlightLabs Logos Outlines 1 Eps"></a>
</div>
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlightLabs_logos_outlines.eps">Sunlight Labs logo</a> (EPS)</li>

</ul>


<div class="clear"></div>

<h3 class="logoFor">Campaigns</h3>
<ul class="logo_downloads">
<li>

<a class="logo_link" href="http://assets.publicequalsonline.com/logos/public_equals_online_logo.eps">Public Equals Online EPS</a> (postscript)</li>
</ul>


<div class="clear"></div>

<h3 class="logoFor">Contests</h3>
<ul class="logo_downloads">
<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/design_for_america_logo.eps"><img src="{% media_url %}/images/thumbnail_design_for_america_logo_eps.png" width="100" height="24" alt="Thumbnail Design For America Logo Eps"></a></div>
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/design_for_america_logo.eps">Design For America EPS</a>(postscript)</li>

<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlightfoundation_apps_for_america.eps"><img src="{% media_url %}/images/thumbnail_sunlightfoundation_apps_for_america_eps.png" width="100" height="30" alt="Thumbnail Sunlightfoundation Apps For America Eps"></a></div>
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlightfoundation_apps_for_america.eps">Apps for America EPS</a> (postscript)
</li>
</ul>


<div class="clear"></div>



<h3 class="logoFor">Events</h3> 
<ul class="logo_downloads">
<li>
<div class="logo_thumb_container">
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlightfoundation_transparency_camp.eps"><img src="{% media_url %}/images/thumbnail_sunlightfoundation_transparency_camp_eps.png" width="100" height="31" alt="Thumbnail Sunlightfoundation Transparency Camp Eps"></a></div>
<a class="logo_link" href="http://assets.sunlightfoundation.com/images/logos/print/sunlightfoundation_transparency_camp.eps">Transparency Camp EPS</a> (postscript)</li>
</ul>
<div class="clear"></div>
</div>



{% endblock %}