<div id="press_nav_box">
	<p class="tip">Looking for something else? Browse our archives by date.</p>
	<form action="/press/" method="post" id="press-nav-form">
		{% csrf_token %}
		{{ press_nav_form.pub_type }}
		<ul class="press_year_navigation">
			<li class="press_year">
				<label for="id_year">{{ press_nav_form.year.label }}</label>
				{{ press_nav_form.year }}
			</li>
			<li  class="press_month_navigation">
				<label for="id_month">{{ press_nav_form.month.label }}</label>
				{{ press_nav_form.month }}
			</li>
			<li>
				<button type="submit" name="submit-btn" class="press_nav_button"><span>Submit</span>
			</li>
		</ul>
	</form>
	<div class="clear"></div>
</div>