{% if years %}
<div id="press_nav_box">
<ul class="press_year_navigation">
    {% for year in years reversed %}
    <li class="press_year">
        <a href="/presscenter/{{ press_type }}/{{ year.year }}/">{{ year.year }}</a>:
        {% if year.months %}
        <ul class="press_month_navigation">
            {% for month in year.months %}
                <li class="press_month">
                    {% if month.month %}
                    <a href="/presscenter/{{ press_type }}/{{ year.year }}/{{ month.month }}/">{{ month.name }}</a>
                    {% else %}
                    {{ month.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}