<div id="press_nav_box">
	<p class="tip">Looking for something else? Browse our archives by date.</p>
	<form>
		<ul class="press_year_navigation">
			<li class="press_year">
				<label for="id_year">Year:</label>
				<select id="year">
					<option>2010</option>
					<option>2009</option>
					<option>2008</option>
					<option>2007</option>
					<option>2006</option>
		
				</select>
			</li>
			<li  class="press_month_navigation">
				<label for="id_month">Month:</label>
				<select id="month">
					<option>Jan</option>
					<option>Feb</option>
					<option>Mar</option>
					<option>Apr</option>
					<option>May</option>
					<option>Jun</option>
					<option>Jul</option>
					<option>Aug</option>
					<option>Sep</option>
					<option>Oct</option>
					<option>Nov</option>
					<option>Dec</option>		
				</select>
			</li>
			<li>
				<button type="submit" name="submit-btn" class="press_nav_button"><span>Submit</span>
			</li>
		</ul>
	</form>
	<div class="clear"></div>
</div>

<!--
{% if years %}
<div id="press_nav_box">

<ul class="press_year_navigation">
    {% for year in years reversed %}
    <li class="press_year">
        <a class="press_year_link" href="/presscenter/{{ press_type }}/{{ year.year }}/">{{ year.year }} : </a>  
        {% if year.months %}
        <ul class="press_month_navigation">
            {% for month in year.months %}
                <li class="press_month">
                    {% if month.month %}
                    <a href="/presscenter/{{ press_type }}/{{ year.year }}/{{ month.month }}/">{{ month.name }}</a>
                    {% else %}
                    {{ month.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

</div>
{% endif %}

-->