{% extends "presscenter/base.html" %}

{% block title %}{{ object.headline }} - {{ block.super }}{% endblock %}

{% block content %}

	<article>
		
		<header>
			<hgroup>
			    <h1>{{ object.headline }}</h1>
			    {% if object.sub_headline %}
					<h2>{{ object.sub_headline }}</h2>
				{% endif %}
			</hgroup>
		    {% if object.release_type %}<p>{{ object.get_release_type_display }}</p>{% endif %}
		    {% if object.publication_date %}<p>{{ object.publication_date|date:"F j, Y" }}</p>{% endif %}
		    <p>Contact: {{ object.contact_name }} {{ object.contact_number }}</p>
		</header>
		
		{% if object.from_drupal %}
			{{ object.body|safe }}
		{% else %}
			{% autoescape off %}
				{{ object.teaser|linebreaks }}
				{{ object.body|linebreaks }}
			{% endautoescape %}
		{% endif %}
		
	</article>

{% endblock %}