{% extends "presscenter/base.html" %}
{% load press %}
{% load pagination_tags %}

{% block title %}Press Articles &amp; Mentions - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} {{ pub_type }}{% endblock %}

{% block content %}
 
	{% if only_editorials %}
		<h2>Press Editorials</h2>
	{% else %}
		{% if only_oped %}
			<h2>Op-Eds</h2>
		{% else %}	
			<h2>Press Articles &amp; Mentions Archives</h2>
			{% endif %}
	{% endif %}
	

    {% include "presscenter/navigation.html" %}

	{% if latest %}
	<div class="module docs">
		{% if only_editorials %}
			<h3>Recent Press Editorials</h3>
		{% else %}
			{% if only_oped %}
				<h3>Recent Op-Eds</h3>
			{% else %}
				<h3>Recent Press Articles &amp; Mentions</h3>	
			{% endif %}	
		{% endif %}	
	
		
		
			{% for object in latest %}
		<article class="poia">
		    	<div class="press_article {{ object.get_article_type_display }}">
		    		<header>
		    			<h4>
							<a href="{{ object.get_absolute_url }}">{{ object.headline }}</a>

						</h4>
					</header>
					<p>
						<span class="specificBlog">{{ object.publication }} </span>&mdash;
						{{ object.teaser|safe }}
					</p>
			   	</div>
	    </article>
			{% endfor %}
		
		
				
	</div>	
	{% endif %}

	{% paginate %}

{% endblock %}


