{% extends "base_press.html" %}
{% load press %}

{% block title %}Press Center - Press Articles{% endblock %}

{% block content %}
<div class="press_content">
	{% if only_editorials %}
	<h2>Press Editorials</h2>
	{% else %}	
		<h2>Press Articles &amp; Mentions Archives</h2>
	{% endif %}
	
    {% article_navigation only_editorials %}


	{% if object_list %}
	<ul id="press_recent">
		{% for object in latest %}
			<li
			{% if object.article_type %}
			class="press_type_icon_{{ object.get_article_type_display }}">
			{% endif %}
			
				<h4 class="press_headline"><a href="{{ object.get_absolute_url }}">{{ object.publication }} - {{ object.headline }}</a></h4>
				<p class="press_teaser">{{ object.teaser|safe }}</p>
			</li>
		{% endfor %}
	</ul>
	{% endif %}



{% if is_paginated %}
    <p id="pagination">
    {% if page_obj.has_next %}
        <a href="{% url PressArticle %}?page={{ page_obj.next_page_number }}" class="next">Next</a>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="{% url PressArticle %}?page={{ page_obj.previous_page_number }}" class="previous">Previous</a>
    {% endif %}
    </p>
{% endif %}
</div>
{% endblock %}