{% extends "presscenter/base.html" %}
{% load press %}

{% block title %}Press Releases - {{ block.super }}{% endblock %}

{% block content %}

	<h2>Sunlight Foundation Press Release Archive</h2>
		
    {% release_navigation %}

	{% if latest %}
		<h3>Recent Press Releases</h3>
		<ul>
			{% for object in latest %}
				<li>
					<h4><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></h4>
					<p>{{ press_release.publication_date|date:"F j, Y" }} - {{ object.teaser|safe }}</p>	
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}