{% extends "presscenter/base.html" %}
{% load press %}

{% block title %}Press Releases - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} releases{% endblock %}

{% block content %}

	<h2>Sunlight Foundation Press Release Archive</h2>
		
    {% include "presscenter/navigation.html" %}

	{% if latest %}
		
		
		<div class="module docs">
			<h3>Recent Press Releases</h3>

				{% for object in latest %}			
				<article class="poia">
			    	<div class="press_release">
			    		<header>
			    			<h4>
								<a href="{{ object.get_absolute_url }}">{{ object.headline }}</a>

							</h4>
						</header>
						<p>
							<span class="specificBlog">{{ object.publication_date|date:"F j, Y" }} </span>&mdash;
							{{ object.teaser|safe }}
						</p>
				   	</div>
		    </article>
	
			{% endfor %}		
		</div>

	{% endif %}

{% endblock %}