{% extends "presscenter/base.html" %}
{% load press %}
{% load pagination_tags %}

{% block title %}{{ month|date:"F Y" }} Press Articles &amp; Mentions - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} {{ pub_type }}{% endblock %}

{% block content %}

	{% if only_editorials %}
		<h2>Press Editorials</h2>
	{% else %}	
		<h2>Press Articles &amp; Mentions Archives</h2>
	{% endif %}
	
    {% include "presscenter/navigation.html" %}

	{% if object_list %}
		<h3>{{ month|date:"F Y" }}</h3>
		<ul>
			{% for object in object_list %}
				<li class="press_type_icon_{{ object.get_article_type_display }}">
					<h4><a href="{{ object.get_absolute_url }}">{{ object.publication }} - {{ object.headline }}</a></h4>
					<p>{{ object.teaser|safe }}</p>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% paginate %}
	
{% endblock %}