{% extends "presscenter/base.html" %}
{% load press %}

{% block title %}{{ month|date:"F Y" }} Press Releases - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} releases{% endblock %}

{% block content %}

	<h2>Sunlight Foundation Press Release Archive</h2>

    {% include "presscenter/navigation.html" %}

	{% if object_list %}
		<h3>Press Releases for {{ month|date:"F Y" }}</h3>			
		<ul>
			{% for object in object_list %}
				<li>
					<h4><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></h4>
					<p>{{ object.teaser|safe }}</p>	
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}