{% extends "print.html" %}

{% block title %}{{ object.headline }}{% endblock %}

{% block subnavclass %}{{ block.super }} {{ pub_type }}{% endblock %}

{% block content %}

	<article>
		
		<header>
			<hgroup>
			    <h1>{{ object.headline }}</h1>
			    {% if object.sub_headline %}
					<h2>{{ object.sub_headline }}</h2>
				{% endif %}
			</hgroup>
		    <p>Publication: <a href="{{object.url}}">{{ object.publication }}</a></p>
			<p>{{ object.author }}{% if object.publication_date %}<br />{{ object.publication_date|date:"F j, Y" }}{% endif %}</p>
		</header>

		{% if object.from_drupal %}
			{{ object.body|safe }}    
		{% else %}
			{% autoescape off %}{{ object.body|linebreaks }}{% endautoescape %}
		{% endif %}

	</article>

{% endblock %}
