{% extends "presscenter/base.html" %}

{% block title %}{{ object.headline }} - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} {{ pub_type }}{% endblock %}

{% block js %}
	<script type="text/javascript" src="http://assets.sunlightfoundation.com/scripts/anarchy_media/anarchy.js"></script>
{% endblock %}

{% block content %}

	<article>
		
		<header>
			<hgroup>
			    <h1>{{ object.headline }}</h1>
			    {% if object.sub_headline %}
					<h2>{{ object.sub_headline }}</h2>
				{% endif %}
			</hgroup>
		    <p>Publication: <a href="{{object.url}}">{{ object.publication }}</a></p>
			<p>{{ object.author }}{% if object.publication_date %}<br />{{ object.publication_date|date:"F j, Y" }}{% endif %}</p>
		</header>
		
		{% if object.jerk_mode %}
		
		    <div>{{ object.teaser|safe }}</div>
		
		{% else %}

    		{% if object.from_drupal %}
    			{{ object.body|safe }}    
    		{% else %}
    			{% autoescape off %}{{ object.body|linebreaks }}{% endautoescape %}
    		{% endif %}

    		<footer>
    			<a href="/presscenter/{{ pub_type }}/{{ object.publication_date|date:"Y/m/d" }}/{{ object.slug }}/print/">print version</a>
    		</footer>
		
		{% endif %}

	</article>

{% endblock %}
