{% extends "base_sidebar.html" %}

{% block title %}Press Center{% endblock %}

{% block content %}
	
	<h2>Recent Sunlight Foundation Web Mentions</h2>
	<p>Beyond our press mentions, the Sunlight Foundation keeps tabs on our presence across the web by tagging and archiving blog mentions on <a href="http://www.delicious.com/sunlight_foundation">Delicious</a>.</p>

	{% if entries %}
		<ul>
			{% for entry in entries %}
				<li>
					<a href="{{ entry.link }}">{{ entry.title }}</a>
					<div>{{ entry.summary|safe }}</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	
{% endblock %}