{% extends "base_full.html" %}

{% block content %}

    <h2>Terms of Service</h2>
    <p>This Site (and any Sunlight Foundation web property) may contain links to Internet sites that are not operated by Sunlight Foundation. These links are provided as a service and do not imply any endorsement of the activities or content of these sites, nor any association with their operators. Sunlight Foundation does not control these Internet sites and is not responsible for their content, security, or privacy practices. We urge you to review the privacy policy posted on web sites you visit before using the site or providing personal information.</p>
    
{% endblock %}