{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %}expenditures{% endblock %}
{% load markup %}

{% block content %}

<h2>No Discloures</h2>

<table>
	<tr>
		<td width="200">
			<h4>Lawmaker</h4>
		</td>
		<td width="100">
			<h4>State</h4>
		</td>
		<td width="100">
			<h4>District</h4>
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Gary_Ackerman#Contact">Ackerman, Gary</a>
		</td>
		<td>
			NY
		</td>
		<td>
			5
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Todd_Akin#Contact">Akin, Todd</a>
		</td>
		<td>
			MO
		</td>
		<td>
			2
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Rodney_Alexander#Contact">Alexander, Rodney</a>
		</td>
		<td>
			LA
		</td>
		<td>
			5
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Michele_Bachmann#Contact">Bachmann, Michele</a>
		</td>
		<td>
			MN
		</td>
		<td>
			6
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Roscoe_Bartlett#Contact">Bartlett, Roscoe</a>
		</td>
		<td>
			MD
		</td>
		<td>
			6
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Gus_Bilirakis#Contact">Bilirakis, Gus M.</a>
		</td>
		<td>
			FL
		</td>
		<td>
			9
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Roy_Blunt#Contact">Blunt, Roy</a>
		</td>
		<td>
			MO
		</td>
		<td>
			7
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Rick_Boucher#Contact">Boucher, Rick</a>
		</td>
		<td>
			VA
		</td>
		<td>
			9
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Charles_Boustany#Contact">Boustany, Charles Jr.</a>
		</td>
		<td>
			LA
		</td>
		<td>
			7
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Corrine_Brown#Contact">Brown, Corrine</a>
		</td>
		<td>
			FL
		</td>
		<td>
			3
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Michael_Burgess#Contact">Burgess, Michael</a>
		</td>
		<td>
			TX
		</td>
		<td>
			26
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Joseph_Cao#Contact">Cao, Joseph</a>
		</td>
		<td>
			LA
		</td>
		<td>
			2
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Shelley_Moore_Capito#Contact">Capito, Shelley Moore</a>
		</td>
		<td>
			WV
		</td>
		<td>
			2
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/William_Cassidy#Contact">Cassidy, William "Bill"</a>
		</td>
		<td>
			LA
		</td>
		<td>
			6
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Susan_David#Contact">Davis, Susan</a>
		</td>
		<td>
			CA
		</td>
		<td>
			53
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Nathan_Deal#Contact">Deal, Nathan</a>
		</td>
		<td>
			GA
		</td>
		<td>
			9
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Charles_Dent#Contact">Dent, Charles W.</a>
		</td>
		<td>
			PA
		</td>
		<td>
			15
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/Lincoln_Diaz-Balart#Contact">Diaz-Balart, Lincoln</a>
		</td>
		<td>
			FL
		</td>
		<td>
			21
		</td>
	</tr>
	<tr>
		
		<td>
			<a href="http://www.opencongress.org/wiki/David_Dreier#Contact">Dreier, David</a>
		</td>
		<td>
			CA
		</td>
		<td>
			26
		</td>
	</tr>

				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/John_Fleming#Contact">Fleming, John</a>
					</td>
					<td>
						LA
					</td>
					<td>
						4
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Louie_Gohmert#Contact">Gohmert, Louie</a>
					</td>
					<td>
						TX
					</td>
					<td>
						1
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Brett_Guthrie#Contact">Guthrie, S. Brett</a>
					</td>
					<td>
						KY
					</td>
					<td>
						2
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Dean_Heller#Contact">Heller, Dean</a>
					</td>
					<td>
						NV
					</td>
					<td>
						2
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Mazie_Hirono#Contact">Hirono, Mazie K.</a>
					</td>
					<td>
						HI
					</td>
					<td>
						2
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Pete_Hoekstra#Contact">Hoekstra, Pete</a>
					</td>
					<td>
						MI
					</td>
					<td>
						2
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Henry_Johnson#Contact">Johnson, Henry</a>
					</td>
					<td>
						GA
					</td>
					<td>
						4
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/John_Lewis#Contact">Lewis, John</a>
					</td>
					<td>
						GA
					</td>
					<td>
						5
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/John_Linder#Contact">Linder, John</a>
					</td>
					<td>
						GA
					</td>
					<td>
						7
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Zoe_Lofgren#Contact">Lofgren, Zoe</a>
					</td>
					<td>
						CA
					</td>
					<td>
						16
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Nita_Lowey#Contact">Lowey, Nita</a>
					</td>
					<td>
						NY
					</td>
					<td>
						18
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Blaine_Luetkemeyer#Contact">Luetkemeyer, Blaine</a>
					</td>
					<td>
						MO
					</td>
					<td>
						9
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Kenny_Marchant#Contact">Marchant, Kenny</a>
					</td>
					<td>
						TX
					</td>
					<td>
						24
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Ed_Markey#Contact">Markey, Ed</a>
					</td>
					<td>
						MA
					</td>
					<td>
						7
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Thaddeus_McCotter#Contact">McCotter, Thaddeus</a>
					</td>
					<td>
						MI
					</td>
					<td>
						11
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Gregory_Meeks#Contact">Meeks, Gregory W.</a>
					</td>
					<td>
						NY
					</td>
					<td>
						6
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Sue_Myrick#Contact">Myrick, Sue</a>
					</td>
					<td>
						NC
					</td>
					<td>
						9
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Grace_Napolitano#Contact">Napolitano, Grace</a>
					</td>
					<td>
						CA
					</td>
					<td>
						38
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Soloman_Oriz#Contact">Ortiz, Solomon P.</a>
					</td>
					<td>
						TX
					</td>
					<td>
						27
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Ron_Paul#Contact">Paul, Ron</a>
					</td>
					<td>
						TX
					</td>
					<td>
						14
					</td>
				</tr>

				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Ted_Poe#Contact">Poe, Ted</a>
					</td>
					<td>
						TX
					</td>
					<td>
						2
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/George_Radanovich#Contact">Radanovich, George P.</a>
					</td>
					<td>
						CA
					</td>
					<td>
						19
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/David_Reichert#Contact">Reichert, David G.</a>
					</td>
					<td>
						WA
					</td>
					<td>
						8
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Phil_Roe#Contact">Roe, Phil</a>
					</td>
					<td>
						TN
					</td>
					<td>
						1
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Mike_Rogers#Contact">Rogers, Mike</a>
					</td>
					<td>
						AL
					</td>
					<td>
						3
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Tim_Ryan#Contact">Ryan, Tim</a>
					</td>
					<td>
						OH
					</td>
					<td>
						17
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Kurt_Schrader#Contact">Schrader, Kurt</a>
					</td>
					<td>
						OR
					</td>
					<td>
						5
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/James_Sensenbrenner#Contact">Sensenbrenner, F. James</a>
					</td>
					<td>
						WI
					</td>
					<td>
						5
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Mac_Thornberry#Contact">Thornberry, Mac</a>
					</td>
					<td>
						TX
					</td>
					<td>
						13
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Pat_Tiberi#Contact">Tiberi, Pat</a>
					</td>
					<td>
						OH
					</td>
					<td>
						12
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Zach_Wamp#Contact">Wamp, Zach</a>
					</td>
					<td>
						TN
					</td>
					<td>
						3
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Ed_Whitfield#Contact">Whitfield, Ed</a>
					</td>
					<td>
						KY
					</td>
					<td>
						1
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Robert_Wittman#Contact">Wittman, Robert J.</a>
					</td>
					<td>
						VA
					</td>
					<td>
						1
					</td>
				</tr>
				<tr>
					
					<td>
						<a href="http://www.opencongress.org/wiki/Don_Young#Contact">Young, Don</a>
					</td>
					<td>
						AK
					</td>
					<td>
						At-Large
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}