{% extends "base_full.html" %}
{% block bodyclass %}full blog{% endblock %}

{% block title %}Infographic - {{ block.super }}{% endblock %}

{% block content %}
	<p>Return to <a href="http://blog.sunlightfoundation.com/2010/05/27/senators-appointed-to-conference-committee-connected-to-financial-industry/">Senators Appointed to Conference Committee Connected to Financial Industry</a></p>
	<img class="infographicImg" src="http://assets.sunlightfoundation.com/images/blog/infographics/dodd-shelby/dodd_shelby_full.gif" alt="Dodd Shelby Connections" title="Dodd / Shelby" />
{% endblock %}