{% extends "base_full.html" %}

{% block title %}Super PAC Sleuths - {{ block.super }}{% endblock %}
{% block bodyclass %}projects{% endblock %}

{% block css %}
	<style>
		#map_canvas {
			border: 1px solid #999;
			height: 317px;
			width: 428px;
		}
	</style>
{% endblock %}

{% block content %}

	<h2>Be a Super PAC Sleuth: Find out who’s behind the big money in politics</h2>
	
	<div class="pac-intro">
		<div class="pac-left">
			<p class="intro">In January 2010, the Supreme Court changed the landscape of money and politics in the Citizens United Supreme Court case. Now it’s time to shine a light on what that new landscape actually looks like.</p>
			<p>In the Citizens United v. FEC case, the Supreme Court decided that corporations and unions may spend unlimited amounts of money right up until Election Day, so long as they don’t coordinate with candidates. The Federal Election Commission (FEC) has yet to adopt final rules that will allow it to track this flood of money; that’s why we asked for your help <a href="http://sunlightcam.com/">tracking ads</a> to see who was buying your time a few months back, and why we created our <a href="http://reporting.sunlightfoundation.com/independent-expenditures/">Follow the Unlimited Money</a> database to help track money flowing into the elections from independent expenditure committees.</p>
		</div>
		<div class="pac-right">
			<p>In the wake of the election, it’s time to dig in and bring transparency to what happened this election cycle. We’ve compiled a list of what we call Super PACs -- those organizations that declared their intention to take unlimited donations from any source to fund political activities -- but we need your help to expose who’s behind them. You can see just where they are on this map, but we need your help to learn more about their influence.</p>  
			<p>In the coming days, we’ll be providing more information about how to join us as a “Super PAC Sleuth” to investigate and research these shadowy special interests. This will be a multi-step project, but you can help us with the first part today in just a few simple steps: showing just what these Super PACs look like.</p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="pac-action">
		<div class="pac-left">	
			<dl>
				<dt class="stepnum">Step 1</dt>
				<dd class="stepitem">Pick a Super PAC near you</dd>
				
				<dt class="stepnum clear">Step 2</dt>
				<dd class="stepitem">Take a picture of the Super PAC’s office</dd>
				
				<dt class="stepnum clear">Step 3</dt>
				<dd class="stepitem">Upload the picture to your Flickr account</dd>
			
				<dt class="stepnum clear">Step 4</dt>
				<dd class="stepitem">Enter the location of your photo on the Flickr map for the image. (Look to the upper right corner.)</dd>
			
				<dt class="stepnum clear">Step 5</dt>
				<dd class="stepitem">Add your photo to our <a href="http://www.flickr.com/groups/1595418@N22/">Super PAC Sleuths Group</a>.</dd>
			
				<dt class="stepnum clear">Step 6</dt>
				<dd class="stepitem disclosure">Disclosure!</dd>
			</dl>
		</div>
		<div class="pac-right">
			<div id="map_canvas"></div>		
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="signup">
		<h2 class="withTip">Sign up to be notified when we start the investigation!</h2>
		<p class="tip">If you’re interested in joining our crack team of Super PAC Sleuths and want to dig deeper into who’s behind these PACs, sign up below. We’ll send you an update later this week about how to get involved with this project. Remember, Super PACs played an outsized role in the 2010 elections, and are now gearing up to do the same in 2012, influencing the Republican presidential primaries and the general election--presidential and congressional--as well. 
		</p>
		<form name="signup" action="http://local.publicequalsonline.com/page/signup/superPACsleuth" method="post" id="signup">
			<ul>

				<li>
					<label for="firstname">First Name</label>
					<input class="firstname" size="16" id="firstname" name="firstname" type="text" />
				</li>
				<li class="itemright">
					<label  for="lastname">Last Name</label>
					<input class="lastname" size="25" id="lastname" name="lastname" type="text" />
				</li>

				<li>
					<label for="emailaddr">Email&nbsp;<span class="required">*</span></label>
					<input class="emailaddr" type="email" class="text" size="48" id="emailaddr" name="email">
				</li>
				<li class="itemright">
					<label for="zip">Zip&nbsp;<span class="required">*</span></label>
					<input class="zip" size="8" id="zip" name="zip" type="text" />
				</li>
				<li>
					<label for="phone">Phone</label>
					<input class="phone" type="tel" class="text" size="15" id="phone" name="phone">
				</li>
				<li class="itemright">
					<button class="signup-btn" type="submit">
						<span>Sign Up</span>
					</button>
				</li>

			</ul>
			<div class="clear"></div>
		</form>
		
		
		<span class="required-note">* denotes required field</span>
	</div>
	
	<!--
	<div class="takepart">
		<p>Visit <a href="http://littlesis.org">LittleSis</a> to help us uncover Super PACs.</p>
	</div>
	-->

	
{% endblock %}

{% block scripts %}
	<script src="http://www.google.com/jsapi?key=ABQIAAAAkEpHXjFNm14XKpW83X-MLRQ2lgZbWEf_Qdj3eHsB5xyzBisqKRSixjIokzZ-LTPlSp2ABPTPTkdUmQ"></script>
	<script>
		var map;
		var geoXml;
		google.load("maps", "2");
		google.setOnLoadCallback(function() {
			if (GBrowserIsCompatible()) {
				map = new GMap2(document.getElementById("map_canvas")); 
				map.addControl(new GLargeMapControl());
				map.setCenter(new GLatLng(36.5, -97.7), 3); 
				map.addControl(new GLargeMapControl()); 
				geoXml = new GGeoXml("http://superpacs.s3.amazonaws.com/out-201011151706.kml");
				map.addOverlay(geoXml);
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(pos) {
						map.setCenter(new GLatLng(pos.coords.latitude, pos.coords.longitude), 5);
					});
				}
			}
		});
	</script>
{% endblock %}