{% extends "flatpages/default.html" %}
{% load markup %}

{% block sidebar %}
	<div id="signUp">
        <p>Become a part of the open government community <span class="tip">and get updates on what we're up to by</span> <b>signing up below</b></p>
		<form action="/mailinglist/subscribe/" method="post" id="mailinglistform">
			{% csrf_token %}
			<ul>
				<li>
					<label for="id_email">Email</label>
					<input class="transparent" type="email" name="email" id="id_email" placeholder="enter your email address">
				</li>
				<li>
					<label for="id_zipcode">ZIP Code</label>
					<input class="transparent" type="zipcode" name="zipcode" id="id_zipcode" placeholder="and zip code" pattern="[0-9]{5}" maxlength="5">
				</li>
				<li>
				    <button id="joinBtn" type="submit">
				        <span>Join</span>
				    </button>
			    </li>
			</ul>
		</form>
		<div class="clear"></div>
    </div>
{% endblock %}