{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %}expenditures{% endblock %}
{% load markup %}

{% block content %}

<h2>Searchable Database of House Expenditure Reports</h2>
<p>On November 30, 2009, the US House of Representatives <a href="http://blog.sunlightfoundation.com/2009/11/30/house-expenditures-to-go-online">released</a> the quarterly Statement of Disbursements online for the first time. Since the Office of the Chief Administrative Officer posted these in <a href=http://disbursements.house.gov/>PDF format</a>, Sunlight created a searchable database of each House member's expenditures. This database contains information that is a subset of the information provided in the PDFs.
</p>
<p>
The first two databases below present the expenditures first in summary format and then in a more detailed itemized view. (This mimics how the House published the expenditures.)
</p>

<p>
This release marks a proactive stance from the US House. By voluntarily publishing this information online, the US House is responding to new expectations that information be available online for it to be truly public. 
</p>
<p>
<b>You can also download the databases:</b> <a href="http://assets.sunlightfoundation.com/data/house_expenditures_2009/house-disburse-summary.csv">summary</a> [262kb CSV] | <a href="http://assets.sunlightfoundation.com/data/house_expenditures_2009/house-disburse-detail.csv">detail</a> [15mb CSV] | <a href="http://gist.github.com/247540">source code</a>
</p>

<p>UPDATE: We've added House expenditures by committee in summary and detailed form.</p>


<h4 class="sectionspace"><a href="http://www.socrata.com/government/House-Disbursements-Summary-2009-Q3/5cst-9cm5"target="_blank">HouseDisbursements Summary 2009 Q3</a>
</h4>

<iframe width="600px"
height="350px" src="http://www.socrata.com/widgets/5cst-9cm5/normal?cur=IX%2Ff8BinkRx"
frameborder="0" scrolling="no">
<a href="http://www.socrata.com/government/House-Disbursements-Summary-2009-Q3/5cst-9cm5"
title="House Disbursements Summary 2009 Q3" target="_blank">House
Disbursements Summary 2009 Q3</a></iframe><p>
<a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a></p>


<h4 class="sectionspace"><a href="http://www.socrata.com/government/House-Disbursements-Detail-2009-Q3/s27v-9zjj"target="_blank">House Disbursements Detail 2009 Q3</a></h4>

<iframe width="600px"
height="350px" src="http://www.socrata.com/widgets/s27v-9zjj/normal?cur=ED3eNBzjd7J"
frameborder="0" scrolling="no"><a
href="http://www.socrata.com/government/House-Disbursements-Detail-2009-Q3/s27v-9zjj"
title="House Disbursements Detail 2009 Q3" target="_blank">House
Disbursements Detail 2009 Q3</a></iframe><p><a
href="http://www.socrata.com/" target="_blank">Powered by Socrata</a></p>


<h4 class="sectionspace"><a
href="http://www.socrata.com/government/House-Committee-Disbursements-Summary-2009-Q3/jrzy-2ik9"
target="_blank"
>House
Committee Disbursements Summary 2009 Q3</a></h4>

<iframe width="600px"
height="350px" src="http://www.socrata.com/widgets/jrzy-2ik9/normal?cur=3SuOCXk%2B07u"
frameborder="0" scrolling="no"><a
href="http://www.socrata.com/government/House-Committee-Disbursements-Summary-2009-Q3/jrzy-2ik9"
title="House Committee Disbursements Summary 2009 Q3"
target="_blank">House Committee Disbursements Summary 2009
Q3</a></iframe><p><a href="http://www.socrata.com/"
target="_blank">Powered by Socrata</a></p>

<h4 class="sectionspace"><a
href="http://www.socrata.com/government/House-Committee-Disbursements-Detail-2009-Q3/rwgv-xsvp"
target="_blank"
>House
Committee Disbursements Detail 2009 Q3</a></h4>

<iframe width="600px"
height="350px" src="http://www.socrata.com/widgets/rwgv-xsvp/normal?cur=mxn0uS%2BcYwH"
frameborder="0" scrolling="no"><a
href="http://www.socrata.com/government/House-Committee-Disbursements-Detail-2009-Q3/rwgv-xsvp"
title="House Committee Disbursements Detail 2009 Q3"
target="_blank">House Committee Disbursements Detail 2009
Q3</a></iframe><p><a href="http://www.socrata.com/"
target="_blank">Powered by Socrata</a></p>



{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}