{% extends "about/base.html" %}

{% block title %}{{ person.get_full_name }} - {{ block.super }}{% endblock %}

{% block content %}

	<h2>Sunlight Foundation Staff</h2>

    {% with person.get_profile as profile %}
    <div class="module">
        <div class="staffPhoto">
            <img class="staffIndividual" src="http://assets.sunlightfoundation.com/images/blog/avatars/300/300x300_{{ person.username }}.jpg">
	
            {% if profile.twitter_username %}
                <a class="individualTwitter" href="http://twitter.com/{{ profile.twitter_username }}">
                    <img src="http://assets.sunlightfoundation.com/images/blog/social_icons/help/twitter.png">
                    <span>Follow Me</span>
                </a>
            {% endif %}
    	</div>
		<div class="staffDetails">
		    <h3>{{ person.get_full_name }}</h3> 
		    <p>{{ profile.bio|safe }}</p>
		</div>
		<div class="clear"></div>
    </div>
		{% if recent_posts %}
	<div class="module" id="individualPosts">
            <h3>Recent blog contributions from {{ person.first_name }} {{ person.last_name }}</h3>
        
    		{% with recent_posts as entries %}
            	{% if entries %}
    				<ul class="hfeed">
    		    		{% for entry in entries %}
    		    			<li class="hentry">
    		        			<a href="{{ entry.link }}" class="entry-title" rel="bookmark">{{ entry.title|safe }}</a>
    		        			<div class="entryMetaData">
        		        			<time datetime="{{ entry.date_published.isoformat }}" class="published" pubdate>
                				        {{ entry.date_published|date:"F j, Y" }}
                				    </time>
                				</div>
    		    			</li>
    		    		{% endfor %}
    				</ul>
    			{% endif %}
			{% endwith %}
		</div>
		{% endif %}
		
    {% endwith %}

{% endblock %}
