{% extends 'base_sidebar.html' %}
{% block title %}Search {% endblock %}

{% block content %}

	<h2>Search for Sunlight</h2>
	
	<form action="/search/" method="get" id="searchresultform">
		<label for="id_q">Search</label>
		<input class="transparent" type="search" name="q" id="id_q" placeholder="search SunlightFoundation.com" value="{{ query }}">
		<button type="submit">
		   <span>Search</span>
		</button>
	</form>
			
	{% if query %}
		<h3>Search Results for &#8220;{{ query }}&#8221;</h3>
		<ul id="search_results">
			{% for result in page.object_list %}
			
				<li class="{{ result.type }}">
    				{% if result.type == 'post' %}
    					<!-- wordpress post -->
    					<a href="{{ result.link }}" class="searchTitle">{{ result.feed }}: {{ result.title|safe }}</a>    
    					<p>{{ result.text|striptags|truncatewords:20 }}</p>
    				{% endif %}
    				{% if result.type == 'feed' %}
    					<!-- feedinator -->
    					<a href="{{ result.link }}" class="searchTitle">{{ result.feed }}: {{ result.title|safe }}</a>
    					<p>{{ result.text|striptags|truncatewords:20 }}</p>
    				{% endif %}
    				{% if result.type == 'page' %}
    					<!-- flatpage -->
    					<a href="{{ result.link }}" class="searchTitle">{{ result.title|safe }}</a>
    				{% endif %}
    				{% if result.type == 'press_article' or result.type == 'press_release' %}
    				    <!-- press center -->
    					<a href="{{ result.object.get_absolute_url }}" class="searchTitle">{{ result.title|safe }}</a>
    					<p>{{ result.summary|striptags|truncatewords:20 }}</p>
    				{% endif %}
				</li>
				
			{% empty %}
				<li>No results found.</li>
			{% endfor %}
		</ul>
		<div class="pagination">
			<span class="step-links">
				{% if page.has_previous %}
					<a href="?q={{ query }}&page={{ page.previous_page_number }}">previous</a>
				{% endif %}
				<span class="current">Page {{ page.number }} of {{ paginator.num_pages }}.</span>
				{% if page.has_next %}
					<a href="?q={{ query }}&page={{ page.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% else %}
		{# Show some example queries to run, maybe query syntax, something else? #}
	{% endif %}
			
{% endblock %}