{% extends "base_sidebar.html" %}

{% block bodyclass %}blog{% endblock %}

{% block sidebar %}

    <h3>Recent Sunlight Foundation Projects</h3>
    <ul>
        <li><a href="http://publicequalsonline.com">Public=Online</a></li>
        <li><a href="http://sunlightlabs.com/contests/designforamerica/">Design For America</a></li>
        <li><a href="http://sunlightfoundation.com/live/">Sunlight Live</a></li>
        <li><a href="http://realtimecongress.org">Real Time Congress iPhone App</a></li>
        <li><a href="http://sunlightfoundation.com/android/congress/">Congress: The Android App</a></li>
        <li><a href="http://sunlightfoundation.com/WhiteHouseVisitors/">White House Visitor Logs</a></li>
        <li><a href="http://sunlightfoundation.com/opengovernmentdirective/">Open Government Directive</a></li>
        <li><a href="http://sunlightfoundation.com/projects/expenditures/">House Expenditure Reports</a></li>
    </ul>
    
    <h3>Recent Blog Posts</h3>
    <p>Need template tag for this</p>
    
    <h3>Recent Comments</h3>
    <p>Is this necessary? Can we get it from disqus?</p>
    
    <h3>Popular Tags / Topics</h3>
    <p>Need a cached template tag for this</p>
    
    <h3>Explore Our Other Blogs</h3>
    <ul>
        <li><a href="#">Reporting Group</a><span>Digging into data and disclosures</span></li>
        <li><a href="#">Sunlight Labs</a><span>Developers opening America's government</span></li>
        <li><a href="#">Party Time</a><span>Tracking the congressional fundraising circuit</span></li>
        <li><a href="#">Open Congress Blog</a><span>Everyone can be an insider</span></li>
    </ul>
    
{% endblock %}