{% extends "base_sidebar.html" %}
{% load media %}
{% load cache %}
{% load wp %}

{% block bodyclass %}blog{% endblock %}

{% block sidebar %}

    <div class="module">
        {% cache 600 recentposts %}
            <h3>Recent Blog Posts</h3>
            <ul>
                {% recentposts 5 %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                {% endrecentposts %}
            </ul>
        {% endcache %}
        </div>
        <div class="module">
            {% cache 3600 populartags %}
        
            <h3>Popular Tags / Topics</h3>
            <p>Need a cached template tag for this</p>
            {% endcache %}
        </div>
        <div class="module" id="explore">
            <h3>Explore Our Other Blogs</h3>
            <ul>
                <li>
                    <a href="#">
                        <img alt="reporting icon" src="{% media_url %}/images/icon_reporting.png"/>
                        <div class="projectDetails">
                            <h4>Reporting Group</h4>
                            <span>Digging into data and disclosures</span>
                        </div>
                    </a>
                    <div class="clear"></div>
                </li>
                <li>
                    <a href="#">
                        <img alt="Sunlight Labs icon" src="{% media_url %}/images/icon_labs.png"/>
                        <div class="projectDetails">
                            <h4>Sunlight Labs</h4>
                            <span>Developers opening America's government</span>
                        </div>
                    </a>
                    <div class="clear"></div>
                </li>
                <li>
                    <a href="#">
                        <img alt="Party Time icon" src="{% media_url %}/images/icon_partyTime.png"/>
                        <div class="projectDetails">
                            <h4>Party Time</h4>
                            <span>Tracking the congressional fundraising circuit</span>
                        </div>
                    </a>
                    <div class="clear"></div>
                </li>
                <li>
                    <a href="#">
                        <img alt="Open Congress icon" src="{% media_url %}/images/icon_openCongress.png"/>
                        <div class="projectDetails">
                            <h4>Open Congress Blog</h4>
                            <span>Everyone can be an insider</span>
                        </div>
                    </a>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="module">
            <h3>Recent Sunlight Foundation Projects</h3>
            <ul>
                <li><a href="http://publicequalsonline.com">Public=Online</a></li>
                <li><a href="http://sunlightlabs.com/contests/designforamerica/">Design For America</a></li>
                <li><a href="http://sunlightfoundation.com/live/">Sunlight Live</a></li>
                <li><a href="http://realtimecongress.org">Real Time Congress iPhone App</a></li>
                <li><a href="http://sunlightfoundation.com/android/congress/">Congress: The Android App</a></li>
                <li><a href="http://sunlightfoundation.com/WhiteHouseVisitors/">White House Visitor Logs</a></li>
                <li><a href="http://sunlightfoundation.com/opengovernmentdirective/">Open Government Directive</a></li>
                <li><a href="http://sunlightfoundation.com/projects/expenditures/">House Expenditure Reports</a></li>
            </ul>    
        </div>
{% endblock %}