{% load markup %}

<article class="hentry">
    
    <header>
        <h1 class="entry-title"><a class="bookmark" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <div class="entryMetaData">
		    <address class="author"><a class="url fn" href="/people/{{ post.author.username }}/">{{ post.author.display_name }}</a></address>
    		<time datetime="{{ post.post_date.isoformat }}" class="published" pubdate>
    		    {{ post.post_date }}
    		</time>
		</div>
    </header>
    
    {% if post.excerpt %}
        <div class="entry-summary">
            {{ post.excerpt|safe|markdown }}
        </div>
        <a href="{{ post.get_absolute_url }}" class="morelink">Read more</a>
    {% else %}
        <div class="entry-content">
            {{ post.content|safe|markdown }}
        </div>
    {% endif %}
    <footer class="summaryFooter">
        <a class="commentCount" href="http://sunlightfoundation.com{{ post.get_absolute_url }}#disqus_thread">Comments</a>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="sunfoundation" data-text="{{ post.title }}" data-url="http://sunlightfoundation.com{{ post.get_absolute_url }}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <iframe class="summaryFacebook" src="http://www.facebook.com/plugins/like.php?href=http://sunlightfoundation.com{{ post.get_absolute_url|urlencode }}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
        <div class="clear"></div>
    </footer>

</article>