{% extends "wordpress/base.html" %}
{% load disqus_tags %}
{% load markup %}
{% load media %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block metadescription %}{{ post.content|striptags|truncatewords:50 }}{% endblock %}

{% block opengraph %}
    <meta name="og:site_name" content="Sunlight Foundation Blog">
    <meta name="og:title" content="{{ post.title }}">
    <meta name="og:description" content="{{ post.content|striptags|truncatewords:50 }}">
    <meta name="og:type" content="article">
    <meta name="og:url" content="{{ post_url }}">
    <meta name="fb:admins" content="7812952">
{% endblock %}

{% block content %}

    <article class="hentry">
        
        <header>
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entryMetaData">
                <address class="author"><a class="url fn" href="/people/{{ post.author.username }}/">{{ post.author.display_name }}</a></address>
    		    <time datetime="{{ feature.date_published.isoformat }}" class="published" pubdate>
    		        {{ post.post_date }}
    		    </time>
            </div>
        </header>
        
        <div class="entry-content">
            {{ post.content|safe|markdown }}
        </div>
    
        <footer>
            
            {% if post.tags %}
            <div id="tags" class="tip">
                <span class="smallTitle">Tags:</span>
                <ul>
                    {% for tag in post.tags %}
                        <li><a href="{% url wp_taxonomy "term" tag.slug %}" rel="tag">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
            {% endif %}
            <div id="share">
                <span class="smallTitle">Share:</span>
                <ul class="share-links">
                    <li class="share-facebook">
                        <a href="http://www.facebook.com/sharer.php?u={{ post_url|urlencode }}&amp;t={{ post.title|urlencode }}">Facebook</a>
                    </li>
                    <li class="share-twitter">
                        <a href="http://twitter.com/share?url={{ post_url|urlencode }}&amp;via=sunfoundation&amp;text={{ post.title|urlencode }}">Twitter</a>
                    </li>
                    <li class="share-reddit">
                        <a href="http://reddit.com/submit?url={{ post_url|urlencode }}">Reddit</a>
                    </li>
                    <li class="share-delicious">
                        <a href="http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url={{ post_url|urlencode }}&amp;title={{ post.title|urlencode }}">Delicious</a>
                    </li>
                    <li class="share-digg">
                        <a href="http://digg.com/submit?url={{ post_url|urlencode }}&amp;title={{ post.title|urlencode }}">Digg</a>
                    </li>
                    <li class="share-buzz">
                        <a href="http://www.google.com/buzz/post?url={{ post_url|urlencode }}">Google Buzz</a>
                    </li>
                </ul>
            </div>
            
        </footer>

    </article>
    
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=">comments powered by Disqus.</a></noscript>

{% endblock %}


{% block js %}
    {% disqus_dev %}
    <script> 
        /* <![CDATA[ */
        var disqus_shortname = 'sunlightfoundation';
        var disqus_domain = 'disqus.com';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.' + disqus_domain + '/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        /* ]]> */
    </script> 
{% endblock %}
