{% extends "base_sidebar.html" %}

{% block title %}Contact Us - {{ block.super }}{% endblock %}
{% block bodyclass %}contact{% endblock %}
{% block content %}

	<h2 withTip>Contact Us</h2>
	<p class="tip">We'd love to hear from you. Whether you have a question about our products, mission or would like to become part of our community, drop us a line below and we'll do our best to get back to you right away.</p>
		
	<form action="/contact/" method="post" id="contactform" class="normalForm">
	    <ul>
		    {% csrf_token %}
		    {{ form.as_ul }}
		    <li>
		        <button class="sendbutton" type="submit">
    				<span>Send</span>
    			</button>
		    </li>
		</ul>
	</form>
	
{% endblock %}

{% block sidebar %}
    <div class="vcard module" id="contactAddress">
    	<div class="fn org">Sunlight Foundation</div>
       	<div class="adr">
           	<div class="street-address">1818 N Street NW, Suite 300</div>
           	<span class="locality">Washington</span>, <span class="region">DC</span>, <span class="postal-code">20036</span>
       		</div>
       	<div class="tel">202-742-1520</div>
    </div>
    <div id="signUp">
		<p>Become a part of the open government community <span class="tip">and get regular updates from us by</span> <b>signing-up below.</b></p>
		<form action="/mailinglist/subscribe/" method="post" id="mailinglistform">
			{% csrf_token %}
			<ul>
				<li>
					<label for="id_email">Email</label>
					<input class="transparent" type="email" name="email" id="id_email" placeholder="enter your email address">
				</li>
				<li>
					<label for="id_zipcode">ZIP Code</label>
					<input class="transparent" type="zipcode" name="zipcode" id="id_zipcode" placeholder="and zip code" pattern="[0-9]{5}" maxlength="5">
				</li>
				<li>
				    <button id="joinBtn" type="submit">
				        <span>Join</span>
				    </button>
			    </li>
			</ul>
		</form>
		<div class="clear"></div>
    </div>    
{% endblock %}