{% extends "base_sidebar.html" %}
{% load feeds %}
{% load markup %}

{% block splash %}
	<div id="featureBox">
	    <div id="sloganBlock">
	        <p id="slogan">Making government transparent &amp; accountable</p>
        </div>
		<div id="donateBlock">
			<p>Open up your government &amp; help us get to our yearly goal of 1,500 donations.</p>
			<a class="buttonLink" id="donateBtn" href="/donate/">Donate now</a>
		</div>
		<div id="carouselBlock">
			<a href="#" class="carousel-previous">Previous</a>
			<div class="carousel">
				<ul>
					<li>
						<img src="http://dummyimage.com/50x50/999/fff.png&amp;text=icon">
						<p>Be a campaign monitor. Report political ads you've seen recently.</p>
						<p>Help us find out how much companies are giving to politicians by monitoring political ads.</p>
						<a href="#" class="morelink">Tell me more</a>
					</li>
					<li>
						<img src="http://dummyimage.com/50x50/999/fff.png&amp;text=icon">
						<p>Find the unlimited money</p>
						<p>Dig through independent expenditures.</p>
						<a href="#" class="morelink">Tell me more</a>
					</li>
					<li>
						<p>Crap, I need a third.</p>
						<a href="#" class="morelink">Tell me more</a>
					</li>
				</ul>
			</div>
			<a href="#" class="carousel-next">Next</a>
		</div>
		<div class="clear"></div>
	</div>
	<div id="outreachBlock_wrapper">
		<div id="outreachBlock">
		    <div id="join">
    			<p>Become a part of the open government community <span class="tip">and get updates on what we're up to by</span> <b>signing up below</b></p>
    			<form action="#" method="post" id="mailinglistform">
    				{% csrf_token %}
    				<ul>
    					<li>
    						<label for="id_email">Email</label>
    						<input class="transparent" type="email" name="email" id="id_email" placeholder="enter your email address">
    					</li>
    					<li>
    						<label for="id_zipcode">ZIP Code</label>
    						<input class="transparent" type="zipcode" name="zipcode" id="id_zipcode" placeholder="and zip code" pattern="[0-9]{5}" maxlength="5">
    					</li>
    					<li>
    					    <button id="joinBtn" type="submit">
    					        <span>Join</span>
    					    </button>
    				    </li>
    				</ul>
    			</form>
    		</div>
    		<div id="events">
    			<!-- not sure how these are going to be marked up or managed -->
    			<p><strong>Reach out to your community</strong> <span class="tip">by hosting a screening of Casino Jack</span></p>
    			<a href="#" class="morelink">Learn more</a>
    		</div>
		</div>

	</div>
	
{% endblock %}

{% block content %}
	<div id="featured-posts" class="hfeed">
	
	    {% for feature in featured_posts %}
    		<article class="hentry">
    			<header>
    				<h1 class="entry-title withTip">
    					<a href="{{ feature.url }}" class="bookmark">{{ feature.title }}</a>
    				</h1>
    				<div class="entryMetaData">
    				    <address class="author">{{ feature.get_category_display }}</address>
    				    <time datetime="{{ feature.date_published.isoformat }}" class="published" pubdate>
    				        {{ feature.date_published|date:"m/d/y @ g:iA"|lower }}
    				    </time>
    				</div>
    			</header>
    			<div class="entry-summary">
    				{{ feature.summary|markdown|safe }}
    			</div>
    			<a href="{{ feature.url }}" class="morelink">Tell me more</a>
    		</article>
		{% endfor %}
	
	</div>
	
	<div id="popularTags">
		<h2>Popular Tags</h2>
		<ul>
		    {% for topic in featured_topics %}
		        <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
		    {% endfor %}
		</ul>
		<div class="clear"></div>
	</div>
	
	<div id="recent-posts" class="hfeed">
	    
        {% headlines "sunlightfoundation,partytime,sunlightlabs,reporting" 6 %}
		<!-- <a href="#" class="morelink">View older posts</a> -->
		
	</div>
{% endblock %}

{% block sidebar %}
	<div id="mission-statement" class="module">
		<p>The Sunlight Foundation uses cutting-edge technology and ideas to make government transparent and accountable.</p>
	</div>
	<div class="module" id="explore">
	    <h2><a href="#">Explore our projects</a></h2>
    	<ul>
    		<li>
    			<img src="http://dummyimage.com/40x40/999/fff.png&amp;text=icon">
    			<div class="projectDetails">
        			<h3 class="withTip"><a href="#">Influence Explorer</a></h3>
        			<a class="toolCategory" href="#">Campaign Finance</a>
        			<p><b>Connect the dots of political contributions</b> on the federal and state level in this new site that allows you to track influence by lawmaker, company, or prominent individual.</p>
        		</div>
        		<div class="clear"></div>
    		</li>
    		<li>
    			<img src="http://dummyimage.com/40x40/999/fff.png&amp;text=icon">
    			<div class="projectDetails">
        			<h3 class="withTip"><a href="#">Influence Explorer</a></h3>
        			<a class="toolCategory" href="#">Campaign Finance</a>
        			<p><b>Connect the dots of political contributions</b> on the federal and state level in this new site that allows you to track influence by lawmaker, company, or prominent individual.</p>
        		</div>
            	<div class="clear"></div>
    		</li>
    	</ul>
    	<a href="#" class="morelink">View all projects</a>
	</div>
	<div class="module">
    	<h2 class="withTip">Join Us</h2>
    	<p class="tip">Follow every post, project, or video on our way to a more transparency government</p>
    	<ul class="social-links">
    		<li class="social-facebook">
    			<a href="http://www.facebook.com/sunlightfoundation" rel="me">Facebook</a>
    		</li>
    		<li class="social-twitter">
    			<a href="http://twitter.com/#!/sunfoundation" rel="me">Twitter</a>
    		</li>
    		<li class="social-flickr">
    			<a href="http://www.flickr.com/sunlightfoundation" rel="me">Flickr</a>
    		</li>
    		<li class="social-youtube">
    			<a href="http://www.youtube.com/sunlightfoundation" rel="me">YouTube</a>
    		</li>
    		<li class="social-delicious">
    			<a href="http://delicious.com/sunlight_foundation" rel="me">Delicious</a>
    		</li>
    	</ul>
    	<div class="clear"></div>
    </div>
{% endblock %}