{% extends "base_sidebar.html" %}
{% load feeds %}
{% load markup %}
{% load media %}

{% block splash %}
	<div id="featureBox">
	    <div id="sloganBlock">
	        <p id="slogan">Making government transparent &amp; accountable</p>
        </div>
		<div id="donateBlock">
			<p>Open up your government and help us reach our annual goal of 1,500 donors.</p>
			<a class="buttonLink" id="donateBtn" href="/donate/">Donate now</a>
		</div>
		<div id="carouselBlock">
			<a href="#" class="carousel-previous carouselBtn">Previous</a>
			<div class="carousel">
				<ul>
					<li>
					    <div class="imgHolder" style="width: 99px;">
						    <img src={% media_url "images/feature_pie.png" %} />
						</div>
						<div class="featureContent" style="width: 358px;">
						    <h3 class="withTip">Checking Influence</h3>
						    <p>When you shop, do you wonder where your money really goes?</p>
						    <a href="https://checking.influenceexplorer.com/" class="morelink">Find Out Now</a>
						</div>
					</li>
					<li>
					    <div class="imgHolder" style="width: 100px;">
						    <img alt="images of t-shirt, tote and mug images" src={% media_url "images/feature_merch.jpg" %} />
						</div>
						<div class="featureContent" style="width: 358px;">
						    <h3 class="withTip">Need More Motivation to Donate?</h3>
						    <p>Donate now and receive one of our nifty tote bags, t-shirts or mugs.</p>
						    <a href="http://donate.sunlightfoundation.com/" class="morelink">Check Them Out Now</a>
						</div>
					</li>
					<li>
					    <div class="imgHolder" style="width: 100px;">
						    <img src="../static/images/feature_followUnlMoney.png" width="100" height="112" alt="Feature FollowUnlMoney"/>
						</div>
						<div class="featureContent" style="width: 358px;">
						    <h3 class="withTip">Find the Unlimited Money</h3>
						    <p>Track the latest activities of outside groups influencing federal elections.</p>
						    <a href="http://reporting.sunlightfoundation.com/independent-expenditures/" class="morelink">Find Them Now</a>
						</div>
					</li>
					<li>
					    <div class="imgHolder" style="width: 78px;">
						    <img alt="briefcase" src={% media_url "images/feature_briefcase.png" %} />
					    </div>
						<div class="featureContent" style="width: 380px;">
						    <h3 class="withTip">Transparency Jobs</h3>
						    <p class="tip">Bringing Transparency One Job at a Time.</p>
						    <a href="http://transparencyjobs.com" class="morelink">Tell me more</a>
						</div>
					</li>
				</ul>
			</div>
			<a href="#" class="carousel-next carouselBtn">Next</a>
		</div>
		<div class="clear"></div>
	</div>
	<div id="outreachBlock_wrapper">
		<div id="outreachBlock">
		    <div id="join">
				<p>Become a part of the open government community and <span class="tip">get regular updates from us by</span> <b>signing-up below.</b></p>
    			<form action="/mailinglist/subscribe/" method="post" id="mailinglistform">
    				{% csrf_token %}
    				<ul>
    					<li>
    						<label for="id_email">Email</label>
    						<input class="transparent" type="email" name="email" id="id_email" placeholder="enter your email address">
    					</li>
    					<li>
    						<label for="id_zipcode">ZIP Code</label>
    						<input class="transparent" type="text" name="zipcode" id="id_zipcode" placeholder="and zip code" pattern="[0-9]{5}" maxlength="5">
    					</li>
    					<li>
    					    <button id="joinBtn" type="submit">
    					        <span>Join</span>
    					    </button>
    				    </li>
    				</ul>
    			</form>
    		</div>
    		<div id="events">
    			<!-- not sure how these are going to be marked up or managed -->
    			<p><strong>Reach out to your community</strong> <span class="tip">by hosting a screening of Casino Jack</span></p>
    			<a href="#" class="morelink">Learn more</a>
    		</div>
		</div>

	</div>
	
{% endblock %}

{% block content %}
	<div id="featured-posts" class="hfeed">
	
	    {% for feature in featured_posts %}
    		<article class="hentry">
    			<header>
    				<h1 class="entry-title withTip">
    					<a href="{{ feature.url }}" class="bookmark">{{ feature.title }}</a>
    				</h1>
    				<div class="entryMetaData">
    				    <address class="author">{{ feature.get_category_display }}</address>
    				    <time datetime="{{ feature.date_published.isoformat }}" class="published" pubdate>
    				        {{ feature.date_published|date:"m/d/y @ g:iA"|lower }}
    				    </time>
    				</div>
    			</header>
    			<div class="entry-summary">
    				{{ feature.summary|markdown|safe }}
    			</div>
    			<a href="{{ feature.url }}" class="morelink">Tell me more</a>
    		</article>
		{% endfor %}
	
	</div>
	<h2>Recent Posts</h2>
	<div id="popularTags">
		<h2>Popular Tags</h2>
		<ul>
		    {% for topic in featured_topics %}
		        <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
		    {% endfor %}
		</ul>
		<div class="clear"></div>
	</div>
	
	<div id="recent-posts" class="hfeed">
	    
        {% headlines "sunlightfoundation,partytime,sunlightlabs,reporting" 6 %}
		<!-- <a href="#" class="morelink">View older posts</a> -->
		
	</div>
{% endblock %}

{% block sidebar %}
	<div class="module" id="exploreProjects">
	    <h2><a href="/projects/">Explore Our Projects</a></h2>
    	<ul>
    		<li>
    			<img src={% media_url "images/icon_ie.png" %}>
    			<div class="projectDetails">
    			    <h3 class="withTip"><a href="http://influenceexplorer.com/">Influence Explorer</a></h3>
    			    <a class="toolCategory" href="/projects/#campaignfinance">Campaign Finance</a>
                    <p><b>Connect the dots of political contributions</b> on the federal and state level in this new site that allows you to track influence by lawmaker, company, or prominent individual.</p>
    			</div>
    			<div class="clear"></div>
    		</li>
    		<li>
    			<img src={% media_url "images/icon_poligraft.png" %}>
    			<div class="projectDetails">
        			<h3 class="withTip"><a href="http://poligraft.com/">Poligraft</a></h3>
        			<a class="toolCategory" href="/projects/#campaignfinance">Campaign Finance</a>
    			    <p><b>Uncover levels of influence in federal and state-level politics and the news coverage of it.</b> Using data from Sunlight’s TransparencyData.com and Influence Explorer, Poligraft allows you to connect the dots between money and politics in Congress. Simply paste the URL or text of a news article, blog post or press release and Poligraft will create an enhanced view of the people, organizations and relationships described within it.</p>
    			</div>
    			<div class="clear"></div>
    		</li>
    		<li>
    			<img src={% media_url "images/icon_clearspending.png" %}>
    			<div class="projectDetails">
        			<h3 class="withTip"><a href="http://sunlightfoundation.com/clearspending/">ClearSpending</a></h3>
        			<a class="toolCategory" href="/projects/#campaignfinance">Campaign Finance</a>
    			    <p><b>Analyze how well U.S. government agencies are reporting their spending data on USASpending.gov.</b> Clearspending is the most thorough analysis of this federal grant and loan data ever conducted.</p>
    			</div>
    			<div class="clear"></div>
    		</li>
    	</ul>
    	<a href="/projects/" class="morelink">View all projects</a>
	</div>
	<div class="module">
    	<h2 class="withTip">Join Us</h2>
    	<p class="tip">Follow every post, project, or video on our way to a more transparency government</p>
    	<ul class="social-links">
    		<li class="social-facebook">
    			<a href="http://www.facebook.com/sunlightfoundation" rel="me">Facebook</a>
    		</li>
    		<li class="social-twitter">
    			<a href="http://twitter.com/#!/sunfoundation" rel="me">Twitter</a>
    		</li>
    		<li class="social-flickr">
    			<a href="http://www.flickr.com/sunlightfoundation" rel="me">Flickr</a>
    		</li>
    		<li class="social-youtube">
    			<a href="http://www.youtube.com/sunlightfoundation" rel="me">YouTube</a>
    		</li>
    		<li class="social-delicious">
    			<a href="http://delicious.com/sunlight_foundation" rel="me">Delicious</a>
    		</li>
    	</ul>
    	<div class="clear"></div>
    </div>
{% endblock %}