{% extends "base_sidebar.html" %}
{% load media %}
{% block bodyclass %} opengovernmentdirective{% endblock %}
{% load markup %}

{% block content %}


<h2>The Open Government Directive</h2>

<h3>Resources</h3>
<p>
<img src="http://assets.sunlightfoundation.com/images/blog/category/ogd.jpg" class="alignright">
In December 2009, the White House <a href="http://www.whitehouse.gov/blog/2009/12/08/promoting-transparency-government">released</a> the Open Government Directive.
</p>

<p>In a livestreamed <a href="http://www.whitehouse.gov/open">chat</a>, <a href="http://www.whitehouse.gov/blog/2009/12/08/promoting-transparency-government">blogpost</a>, and <a href="http://www.whitehouse.gov/sites/default/files/microsites/ogi-directive.pdf">document</a> online, the White House announced a bold new plan for openness in the Executive Branch.  The result of months of interior <a href="http://www.ostp.gov/galleries/opengov/Conversation+on+Collaboration.html">conversations</a>, and three public <a href="http://www.opencongress.org/wiki/Obama_Transparency_Record#Creating_Directive">components</a>, the new policy introduced sweeping goals and initiatives aimed at bringing citizens closer to their government, through technology, information, and public interaction.
</p>


<h4>Relevant Sunlight Blog Posts</h4>
<ul id="search_results">

	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
			<h4>
				<a class="searchTitle" href="http://blog.sunlightfoundation.com/2010/04/12/a-study-in-transparency-the-open-government-directive-the-department-of-labor-and-the-open-data-principles/">A Study in Transparency: The Open Government Directive, the Department of Labor, and the Open Data Principles</a>
			</h4>    
		</div>
	</li>
	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
			<h4>
				<a class="searchTitle" href="http://blog.sunlightfoundation.com/2010/04/12/what-open-government-plans-could-learn-from-retail-management/">What Open Government plans could learn from retail management</a>
			</h4>    
		</div>
	</li>
	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
			<h4>
				<a class="searchTitle" href="http://blog.sunlightfoundation.com/2009/12/11/three-misconceptions-about-the-open-government-directive/">Three Misconceptions about the Open Government Directive</a>
			</h4>    
		</div>
	</li>
	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
			<h4>
				<a class="searchTitle" href="http://sunlightlabs.com/blog/2009/open-government-directive-developers/">The Open Government Directive for Developers</a>
			</h4>    
		</div>
	</li>
	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
			<h4>
				<a class="searchTitle" href="http://blog.sunlightfoundation.com/2009/12/08/a-sneak-peak-at-cabinet-department-open-government-projects/">A Sneak Peak at Cabinet Department Open Government Projects</a>
			</h4>    
		</div>
	</li>
	<li class="post">
		<img title="Post" alt="Post" src="../../static/images/post.png" class="searchIcon">
		<div class="search_result_text">
			<h4>
				<a class="searchTitle" href="http://blog.sunlightfoundation.com/2009/12/08/open-government-directive-timelines/">Open Government Directive Timelines</a>
			</h4>    
		</div>
	</li>

</ul>

<div class="clear"></div>





<li><p><a href="http://blog.sunlightfoundation.com/2009/12/08/open-government-directive-timelines/">Open Government Directive Timelines</a></p></li>






<h4>For additional background, here are some resources:</h4>
<ul id="bullet">

<li><p>Sunlight Labs "<a href="http://sunlightlabs.com/open/">Open Watcher</a>" - An application checks each major agency website’s /Open page to see if it exists.</p></li>
<li><p>Sunlight&#8217;s <a href="http://www.sunlightfoundation.com/presscenter/releases/2009/12/08/sunlight-hails-white-houses-open-government-direct/">Press Release</a> on the Open Government Directive</p>
</li><li>
<p>Sunlight&#8217;s Policy <a href="http://www.sunlightfoundation.com/policy/documents/agenda/">Agenda</a></p>
</li><li>
<p>Sunlight&#8217;s Our Open Government <a href="http://feedback.sunlightfoundation.com/oogl/">List</a> (dialog on the directive)</p>
</li><li>
<p>OMBWatch&#8217;s 21st Century Right to Know report (Sunlight participated and endorsed, <a href="http://www.ombwatch.org/files/obamaat100daysrtk.pdf">pdf</a>)</p>
</li></ul>

<h3>Commentary</h3>

<table border="0" cellpadding="0" id="nostyle"><tr><td>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '#ogd OR #opengov OR \"open government directive\"',
  interval: 6000,
  title: 'The Open Government Directive',
  subject: '',
  width: 400,
  height: 600,
  theme: {
    shell: {
      background: '#8ec1da',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().start();
</script>
</td><td valign="top"><iframe src="http://www.coveritlive.com/index2.php/option=com_altcaster/task=viewaltcast/altcast_code=9584953020/height=670/width=430" scrolling="no" height="670px" width="430px" frameBorder ="0" ><a href="http://www.coveritlive.com/mobile.php?option=com_mobile&task=viewaltcast&altcast_code=9584953020" >Open Government Directive Announcement</a></iframe>
</td></tr></table>



{% endblock %}


{% block sidebar %}
	<div class="module">
        <h3 class="withTip">Help Open up Your Government and Get Some Great Stuff While You're at It.</h3>
        <p class="tip">Check out our new tshirts, mug and tote bag on our <a href="http://donate.sunlightfoundation.com/">shopify site</a>.</p>
        <ul id="storeSidebar">
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug" src={% media_url "images/store_mugSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/caffeinate-me"><img alt="Sunlight Foundation Mug Closeup" src={% media_url "images/store_mugSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt" src={% media_url "images/store_tshirtSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/superhero-shirt"><img alt="Sunlight Foundation T-shirt Closeup" src={% media_url "images/store_tshirtSm2.jpg" %} /></a></li>
            <li class="withMargin"><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote" src={% media_url "images/store_toteSm.jpg" %} /></a></li>
            <li><a href="http://donate.sunlightfoundation.com/products/tote"><img alt="Sunlight Foundation Tote Closeup" src={% media_url "images/store_toteSm2.jpg" %} /></a></li>
        </ul>    
        <div class="clear"></div>
    </div>
{% endblock %}