{% extends "base_sidebar.html" %}

{% block title %}Policy Center - {{ block.super }}{% endblock %}

{% block bodyclass %}policy{% endblock %}

{% block sidebar %}
	<nav class="{% block subnavclass %}interiorNav{% endblock %}">
		<ul>
			<li class="policy"><a href="/policy/">Policy Center</a></li>
			<li class="agenda"><a href="/policy/documents/agenda/">Our Agenda</a></li>
			<li class="poia"><a href="/policy/poia/">The POIA</a></li>
			<li class="documents"><a href="/policy/documents/">Documents</a></li>
			<li class="success"><a href="/policy/success/">Policy Success</a></li>
		</ul>
	</nav>
{% endblock %}