{% extends "base_sidebar.html" %}

{% block title %}Documents - Policy Center - {{ block.super }}{% endblock %}

{% block content %}
	
	<h2>Sunlight Foundation Policy Documents</h2>
	<p>Sunlight's policy team prepares testimony, briefings, and presentations that elucidate our policy proposals.</p>

	{% if object_list %}
		<ul>
			{% for object in object_list %}
				<li>
					<h4><a href="{% url policy_document object.slug %}">{{ object.title }}</a></h4>
					<p>{{ object.summary }}</p>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% include "includes/pagination.html" %}
	
{% endblock %}