{% extends "policy/base.html" %}

{% block subnavclass %}{{ block.super }} policy{% endblock %}

{% block content %}

	<h2 >Policy</h2>
	<hp>The Sunlight Foundation's policy team is helping to create a more open, transparent government.</p>
	<p>Our policy work joins issue expertise with an open, innovative approach to advocacy, bringing technology to analysis and lobbying, and adding substantive detail to our vision for digitally empowered governance and citizenship.</p>
    <div id="sectionContact">
    	<h3>Contact</h3>
    	<img src="http://assets.sunlightfoundation.com/images/blog/avatars/300/300x300_jwonderlich.jpg" class="section_avatar">
    	<div class="hcard">
    		<a href="/people/jwonderlich/" class="fn url">John <br />Wonderlich</a>
    		<div class="contactDetails">
    		    <span class="title">Policy Director</span>
    		    <span class="tel">(202) 742-1520 ext 234</span>
    		</div>
    	</div>
    </div>
    
	<div class="featuretop">
	</div>
	<div class="featurespace">
		<img width="80" height="22" alt="Projects Flourish" src="../../static/images/projects_flourish.png" class="flourish"><h3> <span class="seeWhat">Featured</span> <span class="projIntroSun">Resource</span></h3>
		<div class="clear"></div>
		<ul id="policy_feature" class="docs">
			<li>
				<h4><a href="{{ feature_resource.url }}">{{ feature_resource.title }}</a></h4>
				<p>{{ feature_resource.summary }}</p>
			</li>
		</ul>
	</div>
	<div class="featurebottom">
	</div>
	<div class="module">
		<h3 class="sectionspace">Recent Policy Documents</h3>
		<ul id="document_link" class="docs">
		{% for feature_document in feature_documents %} 
				<li>
					<h4><a href="/policy/documents/{{ feature_document.slug }}">{{ feature_document.title }}</a></h4>
					<p>{{ feature_document.summary }}</p>
				</li>
		{% endfor %}
		</ul>

		<a href="{% url policy_document_list %}" class="morelink">View all policy documents</a>
	</div>
{% endblock %}

All data used in this visualization is part of the public record. We would like to thank Capitol Words, Times Developer Network and THe San Francisco Chronicle for helping us gain access.