{% extends "base_sidebar.html" %}
{% load media %}

{% block title %}The Public Online Information Act - {{ block.super }}{% endblock %}

{% block content %}

	<h2>The Public Online Information Act</h2>
	
	<aside>
		<h1>Quick Links</h1>
		<ul>
			<li>
				Read The Bill: [<a href="http://hdl.loc.gov/loc.uscongress/legislation.111hr4858">House</a>, <a href="http://tester.senate.gov/Legislation/upload/public_online_information_act.pdf">Senate</a>]
			</li>
			<li>
				<a href="http://www.sunlightfoundation.com/policy/documents/summary-public-online-information-act">Summary of POIA</a>
			</li>
			<li>
				<a href="http://www.sunlightfoundation.com/policy/documents/plain-language-poia">POIA in plain language</a>
			</li>
			<li>
				<a href="http://www.sunlightfoundation.com/policy/documents/coalition-organizations-calls-for-hearings">Orgs. call for hearings</a>
			</li>
		</ul>
	</aside>
	
	<p>In the age of the Internet, government is transparent only when public information is available online. <a href="http://hdl.loc.gov/loc.uscongress/legislation.111hr4858">The Public Online Information Act</a> (POIA) is legislation, introduced by Rep. Steve Israel in the House and Sen. Jon Tester in the Senate, that embraces a new formula for transparency: public equals online. No longer will antiquated government disclosure practices bury public information in out-of-the-way offices and in outmoded formats.</p>
	<p>POIA requires Executive Branch agencies to publish all publicly available information on the Internet in a timely fashion and in user-friendly formats. It also creates an advisory committee to help develop government-wide Internet publication policies.</p>


	<a href="/policy/poia/about/" class="morelink">Read More about POIA</a>

	<h3>A Video Introduction to POIA</h3>
	<object width="560" height="340">
		<param name="movie" value="http://www.youtube.com/v/wD8dT236aS4&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;hd=1"></param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowscriptaccess" value="always"></param>
		<embed src="http://www.youtube.com/v/wD8dT236aS4&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed>
	</object>

	<h3>POIA in the News</h3>
	<ul>
		{% for feature_poianew in feature_poianews %}
			<li>
				<a href="{{ feature_poianew.url }}">{{ feature_poianew.title }}</a>
				<p>{{ feature_poianew.date_published|date:"m.d.y" }}&mdash;{{ feature_poianew.summary }}</p>
			</li>
		{% endfor %}
	</ul>
	<a href="/policy/poia/news/" class="morelink">View all POIA articles</a>
	
	<h3>POIA Resources</h3>
	<ul>
		{% for feature_poiaresource in feature_poiaresources %}
			<li>
				<a href="{{ feature_poiaresource.url }}">{{ feature_poiaresource.title }}</a>
				<p>{{ feature_poiaresource.summary }}</p>
			</li>
		{% endfor %}
	</ul>
	
{% endblock %}

{% block sidebar %}
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'search',
		  search: 'thepoia',
		  interval: 6000,
		  title: 'THE PUBLIC ONLINE INFORMATION ACT',
		  subject: 'ThePOIA',
		  width: 200,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#7b614c',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#444444',
		      links: '#1985b5'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: true,
		    behavior: 'default'
		  }
		}).render().start();
	</script>
{% endblock %}