{% extends "policy/base.html" %}

{% block title %}About The Public Online Information Act - {{ block.super }}{% endblock %}

{% block subnavclass %}{{ block.super }} poia{% endblock %}

{% block content %}

	<h2>THE PUBLIC ONLINE INFORMATION ACT</h2>
	<p>
	In the age of the Internet, government is transparent only when public information is available online. The Sunlight Foundation supports the Public Online Information Act (POIA), legislation that embraces a new formula for transparency: public equals online. No longer will antiquated government disclosure practices bury public information in out-of-the-way offices and in outmoded formats.
	</p>
	<p>
	POIA requires Executive Branch agencies to publish all publicly available information on the Internet in a timely fashion and in user-friendly formats. It also creates an advisory committee to help develop government-wide Internet publication policies. Freeing government information from its paper silos provides the private sector with raw material to develop new products and services and gives the public what they need to participate in government as active and informed citizens. Establishing an advisory committee that brings all three branches of government and the private sector together to develop government-wide information best practices will improve how the government serves the American people.
	</p>
	<p>
	POIA has far reaching effects:</p>
	<ul class="bullets">
	<li>POIA empowers government oversight and accountability by citizens, media, and government officials alike.</li>
	<li>POIA promotes intra-governmental coordination by bringing key players together to develop common
	standards for information transmission, streamline government data collection practices, and increase the
	sharing of information vital to our citizens.</li>
	<li>POIA contributes to economic growth by helping small and large business innovate, create jobs, and
	compete globally.</li>
	</ul>

	<h3>EXECUTIVE BRANCH AGENCIES MUST PUBLISH PUBLIC INFORMATION ON THE INTERNET</h3>
	<p>
	POIA requires Executive Branch agencies to publish public information on the Internet subject to limited, commonsense exceptions. It requires the government to adopt a presumption of openness and transparency. OMB’s E-Government Administrator and CIOs at independent agencies are responsible for crafting regulations to implement POIA. And, the public is granted a limited private right of action (similar to that under FOIA) to guarantee that the government lives up to its transparency obligations.
	</p>
	<p>
	POIA’s scope is limited in three major ways:</p>
	<ul>
	<li>Sunrise provision: Internet disclosure of public records becomes mandatory three years after POIA’s enactment, giving agencies time to prepare.</li>
	<li>Prospective application: Only public records generated, updated, or released after POIA’s enactment must be published online, limiting the timeframe of disclosure.</li>
	<li>Content-based exemptions: Public records exempt from disclosure under the Freedom of Information Act may also be exempted from POIA’s online publication requirement. Additional records beyond the scope of FOIA may be withheld if it is in the public’s interest.</li>
	</ul>
	<h3>POIA CREATES A GOVERNMENT-WIDE ADVISORY COMMITTEE</h3>
	<p>
	POIA creates a special federal advisory committee to coordinate the development of Internet disclosure policies. These policies promote best practices generally, including data interoperability standards, and will keep the government up-to-date with new technology. The advisory committee’s 19 members – six appointed by each branch of government, plus one by GSA – are drawn from the public and private sectors and serve as watchdogs, synthesizing the needs of agencies and the public and making recommendations on updating federal law.
	</p>
	<p class="right sub">
	<a href="/policy/poia/">Back to POIA</a></p>

{% endblock %}