.carousel {
	overflow: hidden;
	height: 160px;
	width: 560px;
	float: left;
	position: relative;
}

.carousel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.carousel ul li {
	left: -558px;
	position: relative;
	float: left;
	height: 140px;
	width: 478px;
	padding: 10px 40px 0;
}

.carousel .imgHolder { float: left; margin-right: 20px;}
.featureContent { float: left; font-size: 115%; margin-top: 10px;}
.featureContent p { color: #766F6B; font-size: 90%;}
.featureContent .morelink { margin-top: 20px;}

.carouselBtn { float: left; width: 35px; text-indent: -9999em; display: block; width: 30px; height: 43px; margin-top: 65px;}
.carousel-previous { background: url(../images/btn_previous.png) top left no-repeat;}
.carousel-previous:hover { background: url(../images/btn_previous.png) bottom left no-repeat;}
.carousel-next { background: url(../images/btn_next.png) top left no-repeat; position: relative; right: -585px; top: -160px;}
.carousel-next:hover { background: url(../images/btn_next.png) bottom left no-repeat;}