#liveLeft { float: left; width: 480px; margin-right: 10px;}
#liveRight { float: left; width: 450px;}

#twitter { width: 180px; float: left; margin-right: 30px;}
#liveDonate { float: left; width: 675px;}