/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-left:30px;
    padding-left:35px;
    border-left: 1px solid #E5E4DB;
	color: #726B68; }
	
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #494442; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 22px; font-size: 13px; } 
select, input, textarea, button { font: 99% sans-serif; }
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1em;}

html { overflow-y: scroll; }

iframe { display: block; margin: 10px 0; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #2f4867; }
a:hover { color: #15283f; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.normalForm label { width: 120px; display: block; float: left; text-transform: uppercase; font-weight: bold;}
.normalForm input, .normalForm textarea { width: 300px;}
.normalForm { margin-top: 30px;}

::-moz-selection{ background: #CA5703; color:#fff; text-shadow: none; }
::selection { background:#CA5703; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #CA5703; } 

button, .buttonLink { width: auto; text-indent: -9999em; display: block; border: none; cursor: pointer; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}

#container { background: url(../images/bg_blog.jpg) top center repeat-x;}

h1#logo { width: 363px; height: 66px; padding-top: 25px; float: left;}
h1#logo a { display: block; text-indent: -9999em; width: 363px; height: 66px; background: url(../images/logo.png) top left no-repeat;}

header nav { background: url(../images/nav_bar.png) top center no-repeat; height: 38px; overflow: hidden; margin-top: 15px;}
.thefoundation header nav { margin-top: 5px;}
header nav a:link, header nav a:active, header nav a:visited { text-transform: uppercase; color: #494442; text-decoration: none; text-align: center;}
header nav li:hover a { color: #2F4867; font-weight: bold; text-align: center;}
header nav li { float: left; padding: 10px 22px 7px; text-indent: center; font-size: 110%;}
body.about nav li.nav-about, body.blog nav li.nav-blog, body.policy nav li.nav-policy, body.press nav li.nav-press, body.projects nav li.nav-projects, body.action nav li.nav-takeaction, body.contact nav li.nav-contact  { background-color: #F3F1EC; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; padding: 6px 22px 7px; margin-top: 4px; -moz-opacity: 0.7 !important; -webkit-opacity: 0.7!important; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important; filter: alpha(opacity=70) !important; opacity: 0.7 !important; color: #2F4867; font-weight: bold; }

.interiorNav li.active { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
.interiorNav li.active a { color: #fff; }
.interiorNav li:hover a { font-weight: bold;}
.interiorNav li { margin-bottom:0;}
.interiorNav a { text-decoration: none; text-transform: uppercase; font-size: 110%; margin-bottom: 15px; display: block;}
.interiorNav { height: auto;}

/* interiorNav for about pages */
nav.about li.about { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.about li.about a { color: #fff; }
nav.board li.board { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.board li.board a { color: #fff; }
nav.staff li.staff { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.staff li.staff a { color: #fff; }
nav.funding li.funding { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.funding li.funding a { color: #fff; }
nav.grants li.grants { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.grants li.grants a { color: #fff; }
nav.history li.history { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.history li.history a { color: #fff; }
nav.donate li.donate { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.donate li.donate a { color: #fff; }

/* interiorNav for policy pages */
nav.policy li.policy { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.policy li.policy a { color: #fff; }
nav.agenda li.agenda { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.agenda li.agenda a { color: #fff; }
nav.lobbying li.lobbying { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.lobbying li.lobbying a { color: #fff; }
nav.poia li.poia { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.poia li.poia a { color: #fff; }
nav.documents li.documents { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.documents li.documents a { color: #fff; }
nav.success li.success { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.success li.success a { color: #fff; }

/* interiorNav for press pages */
nav.press li.press { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.press li.press a { color: #fff; }
nav.experts li.experts { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.experts li.experts a { color: #fff; }
nav.releases li.releases { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.releases li.releases a { color: #fff; }
nav.articles li.articles { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.articles li.articles a { color: #fff; }
nav.editorials li.editorials { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.editorials li.editorials a { color: #fff; }
nav.oped li.oped { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.oped li.oped a { color: #fff; }
nav.webmentions li.webmentions { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.webmentions li.webmentions a { color: #fff; }
nav.logos li.logos { background: url(../images/nav_arrow.png) top left no-repeat; width: 303px; height: 39px; color: #fff; margin-left: -50px; padding-left: 50px; padding-top: 15px;}
nav.logos li.logos a { color: #fff; }

header, #featureBox, #outreachBlock, #footerContent { padding: 0 10px; width: 940px; margin: 0 auto;}
#mainContent { padding: 0 0 0 10px; width: 950px; margin: 0 auto; min-height: 800px;}
#searchform { float: right; margin-top: 40px; width: 258px;}
#container #searchform input { width: 220px; float: left; border: 1px solid #aabed5; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 95%; padding:7px 30px 5px 5px; height: 15px;}

#slogan { text-indent: -9999em; display: block; margin: 0 auto; background: url(../images/featureText.png) top center no-repeat; width: 526px; height: 144px;}
#sloganBlock { margin-top: 35px; background: url(../images/featureBar.png) center bottom no-repeat; padding-bottom: 50px; margin-bottom: 10px;}
#donateBlock, #carouselBlock { float: left; height: 160px;}
#donateBlock { width: 280px; padding-right: 20px; margin-right: 20px; border-right: 1px dashed #cdcdc9; padding-top: 20px; height: 140px;}
#donateBlock p { font-size: 120%; text-align: center;}
#carouselBlock { width: 618px;}

#outreachBlock_wrapper { background: url(../images/featureBar_wrapper.jpg) top center repeat-x; }
#outreachBlock { background: url(../images/featureBar.jpg) top center no-repeat; height: 108px; padding-top: 10px; color: #fefefe;}
#outreachBlock span { color: #fefefe;}
#outreachBlock p { font-size:130%; line-height: 23px; margin-bottom:10px;}
#events { float: left; width: 444px;}
#events strong { text-transform: uppercase; font-size: 120%; margin-top: 3px; }
#events .morelink { color: #fff; margin-top: 10px;}
.description .morelink { margin-top: 10px;}
#main { background: #F8F6EC url(../images/below_green_bg.png) top center repeat-x; border-top:3px solid #F3F1EC;}
.thefoundation #main { border: none; }

#donateBtn { background: url(../images/btn_donate.png) top center no-repeat; width: 240px; height: 54px; margin-left: 20px;}
#donateBtn:hover { background: url(../images/btn_donate.png) bottom center no-repeat; }
#joinBtn { background: url(../images/btn_join.png) top center no-repeat; width: 76px; height: 30px;}
#joinBtn:hover { background: url(../images/btn_join.png) bottom center no-repeat; }
#searchform button { background: url(../images/magnifier.png) right 6px no-repeat; float: right; position: relative; padding: 5px 10px; width: 16px; top: -28px; left: -10px;}
#disqus_thread #dsq-content .dsq-post-footer #dsq-post-button { background: url(../images/btn_comment.png) top center no-repeat; width: 177px; height: 45px; border: none; padding: 0; float: left; margin: 15px 0 50px; text-indent: -9999em; border: none;}
#disqus_thread #dsq-content .dsq-post-footer #dsq-post-button:hover { background: url(../images/btn_comment.png) bottom center no-repeat;}
.donatebutton { background: url(../images/btn_donate_google.png) top center no-repeat; width: 240px; height: 54px;}
.donatebutton:hover { background: url(../images/btn_donate_google.png) bottom center no-repeat; }
.sendbutton { background: url(../images/btn_send.png) top center no-repeat; width: 111px; height: 45px; margin-left: 120px; }
.sendbutton:hover { background: url(../images/btn_send.png) bottom center no-repeat;}
#dsq-submit-guest { background: url(../images/btn_postComment.png) top center no-repeat; width: 177px; height: 26px; border: none;}
#dsq-submit-guest:hover { background: url(../images/btn_postComment.png) bottom center no-repeat; }
#dsq-openid-submit-button { background: url(../images/btn_signin.png) top center no-repeat; width: 104px; height: 26px; border: none;}
#dsq-openid-submit-button:hover { background: url(../images/btn_signin.png) bottom center no-repeat; }
.dsq-popup-title .dsq-popup-close { background: url(../images/delete_16.png) top right no-repeat; border: none; width: 16px;}
.donate10 { background: url(../images/btn_donation10.png) top right no-repeat; height: 26px; }
.donate10:hover { background: url(../images/btn_donation10.png) bottom right no-repeat; }
.donate15 { background: url(../images/btn_donation15.png) top right no-repeat;  height: 26px;}
.donate15:hover { background: url(../images/btn_donation15.png) bottom right no-repeat; }
#search { background: url(../images/btn_search.png) top right no-repeat; width: 98px; height: 26px;}
#search:hover { background: url(../images/btn_search.png) bottom right no-repeat; }
#applyBtn { background: url(../images/btn_apply.png) top right no-repeat; width: 140px; height: 26px;}
#applyBtn:hover { background: url(../images/btn_apply.png) bottom right no-repeat; }
.signup-btn { background: url(../images/btn_signup.png) top right no-repeat; width: 133px; height: 26px; margin-left: 100px;}
.signup-btn:hover { background: url(../images/btn_signup.png) bottom right no-repeat; } 

#search_results img{
	width: 16px;
	height: 16px;
	margin-right: 14px;
	margin-top: 2px;
	float: left;
}

.search_result_text{
	float: left;
	display: block;
	width: 570px;
	margin-bottom: 20px;
}

input, textarea { border: 1px solid #eceae3; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 8px 5px 5px;}

.googlecheckout input { float: left; margin-right: 20px; font-size: 220%; padding:12px 15px 7px 30px; width: 140px; font-family: Georgia, "Times New Roman", Times, serif; border: 1px solid #cdcbc5; background: #fff url(../images/donate_dollarsign.jpg) 10px 19px  no-repeat;}
.googlecheckout  { margin-bottom: 30px; background: #fcfbf6 url(../images/bg_donate.jpg) top right no-repeat; padding: 25px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #e5e4db;}
.googlecheckout h3 { width: 400px;}

#join { float: left; width: 445px; padding-right: 25px; margin-right: 25px; border-right: 1px dashed #aec2bc;}
#mailinglistform li { float: left; margin-right: 10px;}
#mailinglistform input { color: #494442; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique;}
#id_email { width: 160px;}
#id_zipcode { width: 80px;}
#signUp form { margin-top: 30px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); margin-left: 40px;}

#grant_application label { float: none;}
#grant_application input { width: 288px;}
#grant_application legend { margin-bottom: 25px;}
#grant_application { margin-top: 0;}

article header { padding: 0; width: auto; margin: 0 0 15px;}
#recent-posts header { margin: 0 0 5px;}
#recent-posts article { margin-bottom: 30px;}
.entry-title { font-size: 220%; line-height: 32px;}
h1 a, h2 a, h3 a, h4 a { text-decoration: none;}
#recent-posts .entry-title { font-size: 160%; line-height: 25px; }
.withTip { margin-bottom: 5px;}
h2 { text-transform: uppercase; font-size: 180%; margin-bottom: 25px; line-height: 25px;}
h3, .h3 { font-family: Georgia, "Times New Roman", Times, serif; font-size: 160%; font-weight: normal; margin-bottom: 20px; line-height: 25px; text-transform: none; }
h4 { font-size: 140%;}

li { margin-bottom: 15px;}

#content { width: 600px; float: left; margin-right: 40px; padding: 50px 0; }
.thefoundation #content { width: 560px; margin-right: 30px;}
.blog #content { width: 680px; margin-right: 30px; }
#content-full { width: 940px; padding: 50px 0; }
#sidebar {  float: left; background: url(../images/sideColumn_middleSm.png) center top repeat-y; width: 300px; margin-bottom:50px;}
.thefoundation #sidebar { width: 360px; background: url(../images/sideColumn_middle.png) center top repeat-y;}
.thefoundation #sidebarInterior { width: 300px; background: url(../images/sideColumn_bottom.jpg) center bottom no-repeat;}
.blog #sidebar { width: 240px; background: url(../images/sideColumn_middleSmall.png) center top repeat-y;}
.blog #sidebarInterior { width: 180px; background: url(../images/sideColumn_bottomSmall.png) center bottom no-repeat;}
#sidebarInterior { background: url(../images/sideColumn_bottomSm.jpg) center bottom no-repeat; padding: 50px 30px 98px;  width: 240px;}

.transparent{ -moz-opacity: 0.6 !important; -webkit-opacity: 0.6!important; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important; filter: alpha(opacity=60) !important; opacity: 0.6 !important;}

.morelink { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; background: url(../images/icon_viewMore.png) left 4px no-repeat; padding-left: 20px; font-size: 130%; text-decoration: none; margin-top: 30px; display: block;}

.entryMetaData, .specificBlog, .toolCategory, .tip { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; color: #766f6b; }
address { float: left; margin-right: 10px; }
footer address { font-style: normal;}
.toolCategory { margin-bottom: 10px; display: block;}

article { margin-bottom: 50px;}

#mission-statement, #callOut { color: #ca5703; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 160%; line-height: 27px; }
#callOut { background:url('../images/bg_projectsHeader.png') top right no-repeat; height: 59px; padding: 25px 15px;}
#popularTags { background: url(../images/popularTags.jpg) center bottom no-repeat; padding: 15px 25px;  margin-bottom: 30px;}

#popularTags h2 { float: left; margin-right: 15px; text-transform: uppercase; font-size: 120%; margin-bottom: 0;}
#popularTags li { float: left; margin-right: 10px; margin-bottom: 0;}
#popularTags a { text-decoration: none;}

.hentry img, .store img, .expertsimg, #storeSidebar img  { border: 2px solid #d4cfc2;}
.photo { float: left; width: 50px; margin-right: 15px;}
.photo img { width: 50px;}
.hentry_content { float: left; width: 490px;}

#storeSidebar li { float: left;}
.withMargin { margin-right: 10px;}

.module { margin-bottom: 45px; padding-bottom: 55px; background: url(../images/projects_flourish.png) bottom center no-repeat;}
.smallModule { margin-bottom: 40px;}

#explore li { margin-bottom: 25px;}
#explore img { display: block; margin: 0 auto 10px;}
#explore h3 { margin-bottom: 0;}
#exploreProjects img { float: left; margin-right: 15px;}
.projectDetails { float: left; width: 240px;}
.social-links li { float: left; height: 16px; padding-left: 25px; margin-bottom: 15px; width: 120px;}
.social-links li a { text-decoration: none; font-size: 110%;  }
#sidebarInterior li a { text-decoration: none; }

#sectionContact { background: url(../images/bg_contact.png) top right no-repeat; height: 76px; margin-right: -41px; margin-top: -10px; padding: 32px 20px 20px 230px; margin-bottom: 20px;}
#sectionContact img { width: 70px; float: left; border: 2px solid #d4cfc2; margin-right: 15px;}
#sectionContact h3 { display: none;}
#sectionContact .hcard { float: left; width: 300px; padding-top: 10px;}
#sectionContact a { font-size: 150%; display: block; float: left; line-height: 27px; height: 60px; border-right: 1px dashed #CDCDC9; padding-right: 20px; margin-right: 20px; text-decoration: none;}
#sectionContact .title { border-bottom: 1px dashed #e2e2de; padding-bottom: 5px; margin-bottom: 5px; display: block; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique;}
.contactDetails { float: left;}

.docs li { background: url(../images/document_icon.png) left 2px no-repeat; padding-left: 30px; }

.social-facebook { background: url(../images/social_sprites.png) left -188px no-repeat; }
.social-facebook:hover { background: url(../images/social_sprites.png) left -52px no-repeat; }
.social-twitter { background: url(../images/social_sprites.png) left -103px no-repeat; }
.social-twitter:hover { background: url(../images/social_sprites.png) left -1px no-repeat; }
.social-flickr { background: url(../images/social_sprites.png) left -171px no-repeat; }
.social-flickr:hover { background: url(../images/social_sprites.png) left -35px no-repeat; }
.social-youtube { background: url(../images/social_sprites.png) left -137px no-repeat; }
.social-youtube:hover { background: url(../images/social_sprites.png) left -86px no-repeat; }
.social-delicious { background: url(../images/social_sprites.png) left -120px no-repeat; }
.social-delicious:hover { background: url(../images/social_sprites.png) left -18px no-repeat; }

#sunlightStaff ol, #funders ol, #funders, #whowefund ol, #whowefund { list-style-type: none;}
#sunlightStaff ol li { float: left; margin-bottom: 15px; margin-right: 20px; width: 120px;}
#sunlightStaff li { margin-bottom: 30px;}
#sunlightStaff li.one { clear: both;}
#sunlightStaff img { border: 2px solid #d1ccbf; margin-left: 10px; }
#sunlightStaff span { display: block; width: 120px; text-align: center;}
.staffPhoto img.staffIndividual  { width: 100px; border: 2px solid #d1ccbf; }
.staffPhoto { float: left; margin-right: 25px; width: 100px;}
.staffDetails { float: left; width: 475px;}
.individualTwitter { text-decoration: none; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; text-align: center; display: block;}
.individualTwitter span { margin-left: 5px;}
#employeeDonate { -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #FCFBF6; border: 1px solid #E5E4DB; padding:20px 20px 10px; margin-top: 25px; text-align: center;}
#employeeDonate input { border: none; margin: 0 auto;}

#individualPosts .entry-title { font-size: 120%; text-decoration: none; line-height:25px;}
#individualPosts .entryMetaData { display: inline; margin-left: 5px;}
#individualPosts li { background: url(../images/icon_list.png) left 7px no-repeat; padding-left: 15px; }

#funders ol { margin-left: 25px; width: 500px;}
#whowefund ol { width: 560px; margin-left: 25px;}
.even { background-color: #fff; }
#funders ol li, #whowefund ol li { padding: 10px 10px; margin-bottom: 0; }
#funders .amount, #whowefund .amount { display: block; float: right; width: 95px; margin-right: 0; text-align: right;}
#funders span { float: left; width: 370px; margin-right: 15px;}
.granteeDiscription { width: 420px; margin-right: 15px; float: left; }
#fundersKey li{ margin-bottom: 0;}
.grantee { font-weight: bold;}

#signUp { background: url(../images/bg_signups.jpg) top center no-repeat; margin: 0 -30px 0; padding: 0 30px; min-height: 358px;}
#signUp p { font-size: 140%; line-height: 25px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); padding-top: 60px; text-align: center; color: #fff;}
#contactAddress { font-size: 130%; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique;}

#mainFooter { background: url(../images/footer.jpg) bottom center repeat-x; color: #c7c2c2; height: 176px; padding: 35px 0 0; margin-top: 0; border: none;}
#contact, #aboutSunlight { float: left; width: 200px; margin-right: 30px; padding-right: 30px; border-right: 1px dashed #5c5755; height: 155px; font-size: 110%;}
#privacyPolicy { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 92%; line-height: 17px; float: left; width: 400px;}
#mainFooter h2 { font-size: 130%; margin-bottom: 10px; color: #fcfcfc; font-weight: normal; }
#mainFooter a:link, footer a:active, footer a:visited { color: #c7c2c2; }
#mainFooter a:hover { color: #fcfcfc; }
#mainFooter span.gc-cs-link { color: #C7C2C2; }
#aboutSunlight li { margin-bottom: 10px;}
.adr { display: block; margin-bottom: 8px;}
.org { font-size: 110%; margin-bottom: 5px; display: block;}

.tel-skype {
	background: url(../images/icons/16/skype.png) left 2px no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
	text-indent: -9999em;
	padding-bottom:2px;
}

.share-links a { display: block; text-indent: -9999em; width: 16px; height: 16px;}
.share-facebook { background: url(../images/icons/16/facebook.png) top left no-repeat;}
.share-twitter { background: url(../images/icons/16/twitter.png) top left no-repeat;}
.share-reddit { background: url(../images/icons/16/reddit.png) top left no-repeat;}
.share-delicious { background: url(../images/icons/16/delicious.png) top left no-repeat;}
.share-digg { background: url(../images/icons/16/digg.png) top left no-repeat;}
.share-buzz { background: url(../images/icons/16/google-buzz.png) top left no-repeat;}

.store li { float: left; width: 150px; margin: 0 25px 50px;}

.indent { margin-left:25px;}

#searchresultform label { margin-right: 10px; display: block; margin-bottom: 5px;}
#searchresultform { -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #FCFBF6; border:1px solid #E5E4DB; padding: 10px 15px 12px; margin-bottom: 25px;}
#searchresultform input { border:1px solid #CDCBC5; float: left; margin-right: 15px;}

.infographicImg { max-width: 940px; border: 1px solid #D1CCBF;}

/*blog styles*/
.entry-content ol, .entry-summary ol, .hentry_content ol { list-style-type: decimal; margin-left: 40px;}
.entry-content ul, .entry-summary ul, .hentry_content ul, #bullet { list-style-type: disc; margin-left: 40px;}
.entry-content img, .entry-summary img, .hentry_content img { margin-bottom: 15px;}
#tags { margin-bottom: 15px; }
#tags li, #share li{ float: left; margin-right: 7px; margin-bottom: 0px; }
.smallTitle { float: left; margin-right: 15px; font-weight: bold;}
footer { padding: 20px; margin-top: 20px; background-color: #f3f2e9; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #e5e4db;}
.alignleft { float: left; margin-right: 25px;}
.alignright { float: right; margin-left: 25px;}
.aligncenter { display: block; margin:0 auto; margin-bottom: 25px;}


.listMarker li { background: url(../images/icon_list.png) left 7px no-repeat; padding-left: 15px;}

#dsq-content button, #dsq-content .dsq-post-footer .dsq-button { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; background: none; background-color: #a93502; border: 2px solid #902a01; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-indent: 0; color: #fff; text-transform: uppercase; padding: 0 8px;}
#dsq-content button:hover, #dsq-content .dsq-post-footer .dsq-button:hover { background-color: #902d01; border: 2px solid #7b2300;}
#dsq-content .dsq-post-footer .dsq-button { padding-top: 1px;}
#mainContent #dsq-content #dsq-global-toolbar { margin-bottom: 30px;}
#disqus_thread { background: url(../images/bg_comments.png) top center no-repeat; padding-top: 10px; margin-top: 70px;}
#disqus_thread .dsq-full-comment { border-left: 1px solid #E5E4DB; margin-bottom: 20px; padding: 5px 10px; background-color: #F3F2E9;}
#mainContent #dsq-content .dsq-comment-header { background: none; border: none; border-bottom: 1px dashed #dddcd4; padding-bottom: 3px;}
#dsq-content .dsq-comment-header cite { display: block; margin-top: 10px;}
#mainContent #dsq-content .dsq-comment-header td  { vertical-align: top;}
#mainContent #dsq-content .dsq-comment-header-time, #dsq-content a.dsq-reply-link { padding: 0; font-family: Georgia,"Times New Roman",Times,serif; font-style: oblique; color: #766f6b;}
#dsq-content .dsq-comment-footer-right { float: right;}
#dsq-content .dsq-comment-footer-right span, #dsq-content .dsq-post-edit { float: left;}

#dsq-content .dsq-global-toolbar-likes .dsq-group { display: none;}
#dsq-content .dsq-comment-footer-reply-tab { display: none;}

#disqus_thread #dsq-content .dsq-append-post { margin-top: -47px;}


#paginator { border-top: 1px dashed #E5E4DB; padding-top: 10px;}
.next { text-align: right; display: block;}
.prev { float: left;}
.numbers { float: left; text-align: center; width: 520px; }

/* table styling */


th { text-align: left; padding: 10px 15px; font-weight: bold;}
td { padding: 15px;}

.messages li {  padding: 5px 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.messages .info { background-color: #f5f5be; border: 2px solid #e4dc06;}
.messages .success { background-color: #dce6ce; border: 2px solid #b6c745;}
.messages .warning { background-color: #f9dea9; border: 2px solid #e1af00;}
.messages .error { background-color: #f9cba9; border: 2px solid #ee0f0f;}


.join-social .social-links li{
	width: 95px;
}

.no_disclosure{ width: 600px; }

.noListStyle ol { padding-left: 0; }
.noListStyle ol>li{ list-style-type: none; }

.entry-content table, .entry-content td { border: 1px solid #E5E4DB; background-color: #fff;}

footer.summaryFooter { padding: 10px 20px;}
footer.summaryFooter .twitter-share-button, footer.summaryFooter .summaryFacebook { float: left; margin-right: 20px; margin: 0;}
.commentCount { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; float: left; margin-right: 20px; text-decoration: none;}