.sectionspace {
	margin-top: 50px;
}

ul#document_link li{
	margin-bottom: 30px;
}

.featurespace{
	background:url('../images/featurespace_bg.png')center top repeat-y ;
	padding: 20px 0 10px 0;
}

.featuretop{
	background:url('../images/featurespace_top.png') center top no-repeat ;
	width: 604px;
	height: 8px;
}

.featurebottom{
	background:url('../images/featurespace_bottom.png') center top no-repeat;
	width: 604px;
	height: 18px;
}

.quicklinks{
	width: 520px;
	margin-left: 84px;
	margin-bottom: 15px;
}

.quicklinks li{
	float: left;
	display: block;
	width: 240px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.poia{
	margin-bottom: 30px;
}

.poia header{
	margin-bottom: 0;
}

article .docs {
	background-color:transparent;
	background-image:url("../images/document_icon.png");
	background-position:left 2px;
	background-repeat:no-repeat;
	padding-left:30px;
}

.featurespace .flourish{
	padding: 4px 4px 0 0;
	float: left;
}

.agendaitems li{
	padding-left: 30px;
}