#press_nav_box {
	margin-bottom: 50px;
}

#press_nav_box li.press_month  { 
	padding-right:12px; 
	font-size:14px; 
}
#press_nav_box ul.press_year_navigation { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
#press_nav_box ul.press_year_navigation li { 
	margin-bottom: 5px; 
}
#press_nav_box ul.press_month_navigation li { 
	display: inline; 
	margin: 0 5px; 
	padding: 0; 
}
#press_nav_box ul.press_month_navigation { 
	display: inline; 
}

.expertsimg{
	float: left;
}

.expertbio{
	width: 479px;
	margin-left: 20px;
	float: left;
}

li.press_year{
	font-family: Georgia,"Times New Roman",Times,serif;
	font-weight: 400;
	font-size: 24px;
	font-style: oblique;	
}
.press_year>a:link{
	color: #CA5703;
	text-decoration: none;

}
.press_year>a:visited{
	color: #CA5703;
	text-decoration: none;
}
.press_year>a:hover{
	color: #A13E26;
	text-decoration: none;
}
.press_year>a:active{
	color: #CA5703;
	text-decoration: none;
}



