/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #494442; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 22px; font-size: 13px; } 
select, input, textarea, button { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1em;}

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #2f4867; }
a:hover { color: #15283f; }

/* #mainContent ul, #mainContent ol { margin-left: 1.8em; } */
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button, .buttonLink { width: auto; text-indent: -9999em; display: block; border: none; cursor: pointer; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}

#container { background: url(../images/bg_blog.jpg) top center repeat-x;}

h1#logo { width: 363px; height: 66px; padding-top: 25px; float: left;}
h1#logo a { display: block; text-indent: -9999em; width: 363px; height: 66px; background: url(../images/logo.png) top left no-repeat;}

nav { background: url(../images/nav_bar.png) top center no-repeat; height: 28px; padding-top: 10px; }
nav a:link, nav a:active, nav a:visited { text-transform: uppercase; color: #494442; text-decoration: none; text-indent: center;}
nav li:hover a { color: #2F4867; font-weight: bold; text-indent: center;}
nav li { float: left; padding: 0 22px; text-indent: center; font-size: 110%;}

header, #featureBox, #outreachBlock, #footerContent { padding: 0 10px; width: 940px; margin: 0 auto;}
#mainContent { padding: 0 0 0 10px; width: 950px; margin: 0 auto;}
#searchform { float: right; margin-top: 40px;}
#searchform input { width: 220px; float: left; border: 1px solid #aabed5; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 95%; padding:7px 30px 5px 5px;}

#slogan { text-indent: -9999em; display: block; margin: 0 auto; background: url(../images/featureText.png) top center no-repeat; width: 526px; height: 144px;}
#sloganBlock { margin-top: 35px; background: url(../images/featureBar.png) center bottom no-repeat; padding-bottom: 50px; margin-bottom: 10px;}
#donateBlock, #carouselBlock { float: left;}
#donateBlock { width: 280px; padding-right: 10px; margin-right: 10px; border-right: 1px dashed #cdcdc9;}
#donateBlock p { font-size: 120%; text-align: center;}
#carouselBlock { width: 638px;}

#outreachBlock_wrapper { background: url(../images/featureBar_wrapper.jpg) top center repeat-x;}
#outreachBlock { background: url(../images/featureBar.jpg) top center no-repeat; height: 108px; padding-top: 10px; color: #fefefe;}
#outreachBlock p { font-size:130%; line-height: 23px; margin-bottom:10px;}
#events { float: left; width: 444px;}
#events strong { text-transform: uppercase;}
#main { background: #F8F6EC url(../images/below_green_bg.png) top center repeat-x; border-top:3px solid #F3F1EC;}
.home #main { border: none; }

#donateBtn { background: url(../images/btn_donate.png) top center no-repeat; width: 240px; height: 54px;}
#donateBtn:hover { background: url(../images/btn_donate.png) bottom center no-repeat; }
#joinBtn { background: url(../images/btn_join.png) top center no-repeat; width: 76px; height: 30px;}
#joinBtn:hover { background: url(../images/btn_join.png) bottom center no-repeat; }
#searchform button { background: url(../images/magnifier.png) 1px 6px no-repeat; float: right; margin-left: -30px; position: relative; padding: 5px 10px;}

input, textarea { border: 1px solid #eceae3; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 8px 5px 5px;}

#join { float: left; width: 445px; padding-right: 25px; margin-right: 25px; border-right: 1px dashed #aec2bc;}
#mailinglistform li { float: left; margin-right: 10px;}
#mailinglistform input { color: #494442; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique;}
#id_email { width: 160px;}
#id_zipcode { width: 80px;}

article header { padding: 0; width: auto; margin: 0 0 30px;}
#recent-posts header { margin: 0 0 5px;}
#recent-posts article { margin-bottom: 30px;}
.entry-title { font-size: 220%; line-height: 32px;}
h1 a, h2 a, h3 a, h4 a { text-decoration: none;}
#recent-posts .entry-title { font-size: 160%; line-height:25px;}
.withTip { margin-bottom: 5px;}
h2 { text-transform: uppercase; font-size: 180%; margin-bottom: 25px; line-height: 25px;}
h3 { font-family: Georgia, "Times New Roman", Times, serif; font-size: 160%; font-weight: normal; margin-bottom: 20px; line-height: 25px;}
h4 { font-size: 140%;}

li { margin-bottom: 15px;}

#content { width: 560px; float: left; margin-right: 30px; padding: 50px 0; }
#content-full { width: 100%; margin-right: 30px; padding: 50px 0; }
#sidebar {  float: left; background: url(../images/sideColumn_middle.png) center top repeat-y; width: 360px;}
#sidebarInterior { background: url(../images/sideColumn_bottom.jpg) center bottom no-repeat; padding: 50px 30px 98px;  width: 300px;}

.transparent{ -moz-opacity: 0.6 !important; -webkit-opacity: 0.6!important; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important; filter: alpha(opacity=60) !important; opacity: 0.6 !important;}

.morelink { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; background: url(../images/icon_viewMore.png) left 4px no-repeat; padding-left: 20px; font-size: 130%; text-decoration: none; margin-top: 30px; display: block;}

.entryMetaData, .specificBlog, .toolCategory, .tip { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; }
address { float: left; margin-right: 10px; }
footer address { font-style: normal;}
.toolCategory { margin-bottom: 10px; display: block;}

article { margin-bottom: 50px;}

#mission-statement { color: #ca5703; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 160%; line-height: 27px; background: url(../images/icon_curleyBrace.png) center bottom no-repeat; padding-bottom: 50px;}
#popularTags { background: url(../images/popularTags.jpg) center bottom no-repeat; padding: 15px 25px;  margin-bottom: 30px;}

#popularTags h2 { float: left; margin-right: 15px; text-transform: uppercase; font-size: 120%; margin-bottom: 0;}
#popularTags li { float: left; margin-right: 10px; margin-bottom: 0;}
#popularTags a { text-decoration: none;}

.hentry img { border: 2px solid #d4cfc2;}
.photo { float: left; width: 50px; margin-right: 15px;}
.photo img { width: 50px;}
.hentry_content { float: left; width: 490px;}

.module { margin-bottom: 50px;}

#explore img { width: 45px; margin-right: 15px; float: left;}
#explore h3 { margin-bottom: 0;}
.projectDetails { float: left; width: 240px;}
.social-links li { float: left; height: 16px; padding-left: 25px; margin-bottom: 15px; width: 120px;}
.social-links li a { text-decoration: none; font-size: 110%;  }

#sectionContact { background: url(../images/bg_contact.png) top right no-repeat; position: relative; width: 940px; height: 118px;}
#sectionContact img { width: 50px; }
.withContact { margin-top: 100px;}

.interiorNav li { float: none;}
.interiorNav { height: auto;}

.social-facebook { background: url(../images/social_sprites.png) left -188px no-repeat; }
.social-facebook:hover { background: url(../images/social_sprites.png) left -52px no-repeat; }
.social-twitter { background: url(../images/social_sprites.png) left -103px no-repeat; }
.social-twitter:hover { background: url(../images/social_sprites.png) left -1px no-repeat; }
.social-flickr { background: url(../images/social_sprites.png) left -171px no-repeat; }
.social-flickr:hover { background: url(../images/social_sprites.png) left -35px no-repeat; }
.social-youtube { background: url(../images/social_sprites.png) left -137px no-repeat; }
.social-youtube:hover { background: url(../images/social_sprites.png) left -86px no-repeat; }
.social-delicious { background: url(../images/social_sprites.png) left -120px no-repeat; }
.social-delicious:hover { background: url(../images/social_sprites.png) left -18px no-repeat; }

#mainFooter{ background: url(../images/footer.jpg) bottom center repeat-x; color: #c7c2c2; height: 176px; padding-top: 35px;}
#contact, #aboutSunlight { float: left; width: 170px; margin-right: 25px; padding-right: 25px; border-right: 1px dashed #5c5755; height: 155px; font-size: 110%;}
#privacyPolicy { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 92%; line-height: 17px; float: left; width: 480px;}
#mainFooter h2 { font-size: 130%; margin-bottom: 10px; color: #fcfcfc; font-weight: normal;}
#mainFooter a:link, footer a:active, footer a:visited { color: #c7c2c2; }
#mainFooter a:hover { color: #fcfcfc; }
#aboutSunlight li { margin-bottom: 10px;}
.adr { display: block; margin-bottom: 8px;}
.org { font-size: 110%; margin-bottom: 5px; display: block;}

.share-links li{ text-indent: -9999em; display: block; width: 14px; height: 14px;}
.share-facebook { background: url(../images/icons);}

/*blog styles*/
.entry-content ol { list-style-type: decimal;}
.entry-content footer { }
#tags { margin-bottom: 15px; }
#tags li{ float: left; margin-right: 7px; margin-bottom: 0px; }
.smallTitle { float: left; margin-right: 15px; font-weight: bold;}
footer { padding-top: 20px; }