.expertsimg{
	float: left;
}

.expertbio{
	width: 475px;
	margin-left: 20px;
	float: left;
}

article .press_release {
	background-color:transparent;
	background-image:url("../images/press_release.png");
	background-position:left 2px;
	background-repeat:no-repeat;
	padding-left:30px;
}
article .press_article {
	background-color:transparent;
	background-image:url("../images/press_article.png");
	background-position:left 2px;
	background-repeat:no-repeat;
	padding-left:30px;
}

#press_nav_box {
	margin-bottom: 50px;
}
#press_nav_box li{
	float: left;
	margin-bottom: 0;
}
#press_nav_box p{

	margin-bottom: 5px;
}


#press_nav_box label { 
	margin-right: 10px;
	margin-top: 3px; 
	display: block; 
	margin-bottom: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 100%;
	float: left;
	text-transform: uppercase;
	}
	
#press_nav_box { 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	background-color: #FCFBF6; 
	border:1px solid #E5E4DB; 
	padding: 10px 15px; 
	margin-bottom: 25px;
	}
	
#press_nav_box select{ 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background: none;
	border-style: solid;
	border-width: 1px;
	border-color: #e1ddc8;
	height: 26px;
	padding: 3px;
}

#press_nav_box option{
	color: #766F6B;
}
	
.press_nav_button {
background-image:url('../images/btn_press_nav_submit.png');
background-position:center top;
background-repeat:no-repeat;
height:26px;
margin-left:0;
width: 140px;
}

.press_nav_button:hover {
background-image:url('../images/btn_press_nav_submit.png');
background-position:center bottom;
background-repeat:no-repeat;
}
#id_month, #id_year{
	margin-right: 30px;
}

.logo_downloads li{
	float: left;
	display: block;
	width: 160px;
	margin:0 10px 50px 25px;
}
.logo_link{
	display: block;
}

.logo_thumb_container{

}

.logoFor{
	background: url('../images/logoDownloadHeader.png') top left no-repeat;
	background-size: 41px 560px;
	width: 560px;
	height: 41px;
	padding: 5px 0 0 25px;
}