.clear{
	clear: both;
}

.project-intro{
	background:url('../images/bg_projectsHeader.png') top left no-repeat;
	background-color: transparent;
	width: 890px;
	height: 59px;
	margin: 0 0 30px 0;
	font-size: 18px;
	padding: 25px;
	color: #bb3d06;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
	line-height: 1.35;
}
.project-intro .tip{
	color:#CA5703;
	font-size: 19px;
}

.seeWhat{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #b33801;
	text-transform: uppercase;
}

.projIntroSun{
	font-family: Georgia,"Times New Roman",Times,serif;
	font-weight: 400;
	font-size: 24px;
	font-style: oblique;
	color: #CA5703;
}

img.flourish{
	vertical-align:-4px;
}

h3.sectionHeader{
	background: url('../images/projectsSections.png') center top no-repeat;
	width: 915px;
	height: 41px;
	padding: 5px 0 0 25px;
}

.columnOf2 {
	float: left;
	padding: 0 25px 25px 25px;
	width: 420px;
}

.columnOf2 img{
	float: left;
	width: 80px;
	margin: 0 20px 25px 0;
}

.columnOf2 .description{
	float: left;
	width: 320px;
	margin: 0 0 25px 0;
	display: block;
	
}
.visitSite {
	background:url("../images/icon_viewMore.png") transparent left 6px no-repeat;
	display:block;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size: 14.5px;
	font-style: oblique;
	margin-top:0px;
	padding: 0 0 0 20px;
	text-decoration:none;
}

.columnOf3{
	float: left;
	padding: 0 25px 25px 25px;
	width: 263px;
}

.columnOf3 img{
	float: left;
	width: 80px;
	margin: 0 20px 25px 0;
}

.columnOf3 .description {
	float: left;
	width: 163px;
	margin: 0 0 25px 0;
}

.mp3{
	margin: 10px 0 0 0 ;
}


.new_heart{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 100%;
	line-height: 22px; 
	font-size: 13px;
}

.new_heart_video{
	float: left;
	padding-right: 30px;
	width: 285px;
	height: 213px;
}

.new_heart_video img{

	width: 285px;
	height: 213px;
}



.new_heart li.new_heart_left{
	padding-right: 30px;
}

.advamed{
	margin-left: 30px;
}