.intro{
	color: #CA5703;
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 16px;
	font-style: oblique;
}

.pac-left{
	float: left;
	width: 455px;
	margin-right: 30px;
}

.pac-right{
	float: left;
	width: 455px;
}

.pac-action .pac-left{
	width: 432px;
}

.pac-action .pac-right{
	width:428px;
}

.pac-action {
	padding: 25px;
	border-top: 1px dashed #e2e2e2 ;
	border-bottom: 1px dashed #e2e2e2 ;
	margin-top: 30px;
	background-color: #f4f0e6;
}

dl { font-family: Georgia, Times, "Times New Roman", serif;}

dd{
	float: left;
	width: 335px;
	margin: 3px 0 20px 0;
	font-size: 120%;
}

dt{
	color: #CA5703;
	font-size: 160%;
	float: left;
	width: 90px;
	font-weight: bold;	
}

.disclosure{
	color: #494442;
	font-size: 24px;
	margin: 0 0 0 0;
}

.signup { padding: 20px; margin-top: 40px; background-color: #FCFBF6; border:1px solid #E5E4DB; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

.signup ul{
	padding: 10px 0 0 0 ;
}

.signup li {
	float: left;
}

.signup label{
	width: 100px;
	float: left;
	font-weight: bold;
	margin-top: 7px;
}

.signup input{
	width: 300px;
}

.itemright{
	padding-left: 25px ;
}

.submit-btn{
	width: 300px;
	height: 26px;
	margin-left: 100px;
	margin-top: -2px;
	background: url('../images/pac-submit.png') center top no-repeat;

}
.submit-btn:hover{
	width: 300px;
	height: 26px;
	background: url('../images/pac-submit.png') center bottom no-repeat;

}
.required-note{
	font-size: 10px;
	display: block;
}